Repository PostHog/posthog, pull requests merged in 2020-12, with the labels that each got.

#2711 Fix prop filtering when action has props
  ee/clickhouse/models/action.py
  ee/clickhouse/models/cohort.py
  ee/clickhouse/models/property.py
  ee/clickhouse/queries/test/test_trends.py
Labels: clickhouse

#2744 Not-so-big play button
  frontend/src/lib/components/Link.tsx
  frontend/src/lib/components/LinkButton.tsx
  frontend/src/scenes/sessions/SessionsPlay.tsx
  frontend/src/scenes/sessions/SessionsPlayerButton.tsx
  frontend/src/scenes/sessions/SessionsTable.tsx
  frontend/src/scenes/sessions/sessionsPlayLogic.ts
  frontend/src/scenes/sessions/sessionsTableLogic.ts
Labels: session recording

#2816 Upgrade Plugin Server
  bin/plugin-server
  plugins/package.json
  plugins/yarn.lock
Labels: ready-to-merge
