Repository PostHog/posthog, pull requests merged in 2020-11, with the labels that each got.

#2152 Stability & dev experience improvements
  .github/workflows/ci-backend.yml
  .github/workflows/e2e.yml
  ee/clickhouse/clickhouse_test_runner.py
  ee/clickhouse/client.py
  ee/clickhouse/migrations/0001_initial.py
  ee/clickhouse/migrations/0002_events_materialized.py
  ee/clickhouse/migrations/0003_person.py
  ee/clickhouse/migrations/0004_kafka.py
  ee/clickhouse/migrations/0005_person_materialized.py
  ee/clickhouse/migrations/0006_session_recording_events.py
  ee/clickhouse/models/event.py
  ee/idl/gen/events_pb2.pyi
  ee/kafka_client/client.py
  mypy.ini
  package.json
  posthog/api/event.py
  posthog/api/person.py
  posthog/api/test/test_capture.py
  posthog/celery.py
  posthog/migrations/0096_plugins.py
  posthog/models/event.py
  posthog/models/funnel.py
  posthog/models/organization.py
  posthog/queries/funnel.py
  posthog/redis.py
  posthog/settings.py
  posthog/tasks/status_report.py
  posthog/utils.py
  pyproject.toml
Labels: enhancement, tech debt

#2315 Make sure properties filter on breakdown
  ee/clickhouse/queries/clickhouse_trends.py
  ee/clickhouse/queries/test/test_trends.py
  ee/clickhouse/sql/trends/breakdown.py
Labels: clickhouse

#2328 Fix day interval for people
  ee/clickhouse/views/actions.py
  posthog/api/test/test_action_people.py
Labels: clickhouse

#2338 Implement missing person datapoint on breakdown
  ee/clickhouse/sql/person.py
  ee/clickhouse/views/actions.py
  ee/clickhouse/views/test/test_clickhouse_action.py
  posthog/api/test/test_action_people.py
Labels: clickhouse

#2339 Trends consolidation
  ee/clickhouse/models/action.py
  ee/clickhouse/models/person.py
  ee/clickhouse/models/property.py
  ee/clickhouse/models/test/test_cohort.py
  ee/clickhouse/models/test/test_filters.py
  ee/clickhouse/models/test/test_property.py
  ee/clickhouse/queries/clickhouse_funnel.py
  ee/clickhouse/queries/clickhouse_paths.py
  ee/clickhouse/queries/clickhouse_retention.py
  ee/clickhouse/queries/clickhouse_sessions.py
  ee/clickhouse/queries/clickhouse_stickiness.py
  ee/clickhouse/queries/clickhouse_trends.py
  ee/clickhouse/queries/util.py
  ee/clickhouse/sql/trends/breakdown.py
  ee/clickhouse/views/actions.py
  ee/clickhouse/views/element.py
  ee/clickhouse/views/events.py
  posthog/queries/stickiness.py
  posthog/queries/trends.py
  posthog/utils.py
Labels: clickhouse

#2470 Use our own session recording player
  frontend/src/scenes/sessions/SessionsPlayer.tsx
  frontend/src/scenes/sessions/SessionsPlayerButton.tsx
  frontend/src/scenes/sessions/SessionsPlayerDrawer.tsx
  package.json
  yarn.lock
Labels: session recording

#2386 Fix prop filter not formatting properly
  ee/clickhouse/models/property.py
Labels: clickhouse

#2575 DAU breakdown and filter bug
  ee/clickhouse/queries/test/test_trends.py
  ee/clickhouse/queries/trends/breakdown.py
Labels: clickhouse
