Repository PostHog/posthog, pull requests merged in 2024-05, with the labels that each got.

#22008 feat: flagged query param on listing query
  frontend/src/lib/constants.tsx
  frontend/src/scenes/session-recordings/playlist/sessionRecordingsPlaylistLogic.ts
Labels: peak-hog

#22009 feat: port new HogQL filters
  ee/session_recordings/queries/test/test_session_recording_list_from_filters.py
  posthog/session_recordings/queries/session_recording_list_from_filters.py
  posthog/session_recordings/queries/test/test_session_recording_list_from_filters.py
  posthog/session_recordings/session_recording_api.py
Labels: peak-hog

#22018 feat: cleverly query replays by logs
  posthog/hogql/database/schema/session_replay_events.py
  posthog/hogql/database/schema/test/test_session_replay_events.py
  posthog/hogql/database/test/__snapshots__/test_database.ambr
Labels: peak-hog

#21657 feat: Cancel running backfills on reaching failure threshold
  posthog/batch_exports/service.py
  posthog/temporal/batch_exports/backfill_batch_export.py
  posthog/temporal/batch_exports/batch_exports.py
  posthog/temporal/common/schedule.py
  posthog/temporal/tests/batch_exports/test_backfill_batch_export.py
  posthog/temporal/tests/batch_exports/test_run_updates.py
Labels: stale

#22067 chore: unskip some tests
  posthog/session_recordings/queries/test/__snapshots__/test_session_recording_list_from_filters.ambr
  posthog/session_recordings/queries/test/test_session_recording_list_from_filters.py
  posthog/session_recordings/queries/test/test_session_recording_list_from_session_replay.py
Labels: peak-hog

#22068 fix: final console filtering test
  posthog/session_recordings/queries/test/__snapshots__/test_session_recording_list_from_filters.ambr
  posthog/session_recordings/queries/test/test_session_recording_list_from_filters.py
Labels: peak-hog

#21535 feat: Heatmaps UI alpha
  frontend/src/layout/navigation-3000/navigationLogic.tsx
  frontend/src/lib/components/AuthorizedUrlList/authorizedUrlListLogic.ts
  frontend/src/lib/components/HedgehogBuddy/HedgehogBuddy.tsx
  frontend/src/lib/components/ProductIntroduction/ProductIntroduction.tsx
  frontend/src/lib/constants.tsx
  frontend/src/scenes/appScenes.ts
  frontend/src/scenes/heatmaps/HeatmapsBrowser.tsx
  frontend/src/scenes/heatmaps/HeatmapsScene.tsx
  frontend/src/scenes/heatmaps/heatmapsBrowserLogic.ts
  frontend/src/scenes/heatmaps/heatmapsSceneLogic.ts
  frontend/src/scenes/sceneTypes.ts
  frontend/src/scenes/scenes.ts
  frontend/src/scenes/urls.ts
  frontend/src/toolbar/bar/Toolbar.tsx
  frontend/src/toolbar/bar/toolbarLogic.ts
  frontend/src/types.ts
  pnpm-lock.yaml
Labels: heatmaps-in-the-heat

#22070 feat: HogQL pagination for Replay
  posthog/session_recordings/queries/session_recording_list_from_filters.py
  posthog/session_recordings/queries/test/__snapshots__/test_session_recording_list_from_filters.ambr
  posthog/session_recordings/queries/test/test_session_recording_list_from_filters.py
  posthog/session_recordings/session_recording_api.py
Labels: peak-hog

#20771 feat: feature gating for activity panel and automatic provisioning
  frontend/src/layout/navigation-3000/sidepanel/panels/activity/SidePanelActivity.tsx
  frontend/src/layout/navigation-3000/sidepanel/sidePanelLogic.tsx
  frontend/src/scenes/settings/organization/VerifiedDomains/VerifiedDomains.tsx
  frontend/src/types.ts
  posthog/api/organization_domain.py
  posthog/api/test/test_organization_domain.py
  posthog/constants.py
  posthog/hogql/database/test/__snapshots__/test_database.ambr
  posthog/models/organization_domain.py
Labels: stale

#21827 feat: heatmaps TTL
  frontend/src/toolbar/stats/HeatmapToolbarMenu.tsx
  posthog/clickhouse/dead_letter_queue.py
  posthog/clickhouse/kafka_engine.py
  posthog/clickhouse/log_entries.py
  posthog/clickhouse/migrations/0061_add_ttl_to_heatmaps.py
  posthog/clickhouse/test/__snapshots__/test_schema.ambr
  posthog/heatmaps/sql.py
Labels: heatmaps-in-the-heat

#22205 feat: make the final hogql test pass
  posthog/session_recordings/queries/session_recording_list_from_filters.py
  posthog/session_recordings/queries/test/__snapshots__/test_session_recording_list_from_filters.ambr
  posthog/session_recordings/queries/test/test_session_recording_list_from_filters.py
Labels: peak-hog

#22123 feat: Add per-minute grouping in trends
  frontend/src/lib/components/AnnotationsOverlay/AnnotationsOverlay.tsx
  frontend/src/lib/components/AnnotationsOverlay/annotationsOverlayLogic.test.ts
  frontend/src/lib/components/DateDisplay/index.tsx
  frontend/src/lib/components/IntervalFilter/IntervalFilter.tsx
  frontend/src/lib/components/IntervalFilter/intervals.ts
  frontend/src/lib/components/SmoothingFilter/smoothings.ts
  frontend/src/lib/utils.test.ts
  frontend/src/lib/utils.tsx
  frontend/src/queries/nodes/InsightViz/InsightDisplayConfig.tsx
  frontend/src/queries/schema.json
  frontend/src/scenes/insights/InsightNav/insightNavLogic.test.ts
  frontend/src/scenes/insights/InsightNav/insightNavLogic.tsx
  frontend/src/scenes/insights/InsightTooltip/insightTooltipUtils.tsx
  frontend/src/scenes/insights/filters/InsightDateFilter/InsightDateFilter.tsx
  frontend/src/scenes/insights/insightVizDataLogic.test.ts
  frontend/src/scenes/insights/insightVizDataLogic.ts
  frontend/src/scenes/insights/utils/cleanFilters.ts
  frontend/src/types.ts
  mypy-baseline.txt
  posthog/caching/insights_api.py
  posthog/caching/utils.py
  posthog/datetime.py
  posthog/hogql_queries/insights/trends/trends_query_runner.py
  posthog/hogql_queries/utils/query_date_range.py
  posthog/hogql_queries/utils/test/test_query_date_range.py
  posthog/schema.py
  posthog/utils.py
Labels: feature/insights

#22134 fix: reset discussions count
  frontend/src/layout/navigation-3000/sidepanel/panels/discussion/sidePanelDiscussionLogic.ts
Labels: stale

#22260 fix: Loading of embedddings
  ee/session_recordings/ai/embeddings_runner.py
Labels: stale

#22218 feat(data-warehouse): Added frontend support for cloudflare R2
  frontend/public/cloudflare-logo.png
  frontend/src/scenes/data-warehouse/new/DataWarehouseTableForm.tsx
  frontend/src/scenes/data-warehouse/new/ManualLinkProvider.tsx
  frontend/src/scenes/data-warehouse/new/sourceWizardLogic.tsx
Labels: stale

#21681 fix(hogql): element tag name only if no selector
  frontend/src/scenes/events/createActionFromEvent.test.js
  frontend/src/scenes/events/createActionFromEvent.tsx
  posthog/models/action/action_step.py
Labels: stale

#22519 fix(exports): allow actors query to run
  posthog/hogql_queries/actor_strategies.py
Labels: performance

#22507 feat(hogql): ignore future persons
  posthog/api/test/__snapshots__/test_query.ambr
  posthog/hogql/database/argmax.py
  posthog/hogql/database/schema/persons.py
  posthog/hogql/database/schema/test/__snapshots__/test_session_replay_events.ambr
  posthog/hogql/database/test/test_database.py
  posthog/hogql/test/__snapshots__/test_query.ambr
  posthog/hogql/test/test_modifiers.py
  posthog/hogql/test/test_printer.py
  posthog/hogql/transforms/test/__snapshots__/test_lazy_tables.ambr
  posthog/hogql/transforms/test/__snapshots__/test_property_types.ambr
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel.ambr
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel_correlation.ambr
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel_correlations_persons.ambr
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel_persons.ambr
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel_strict_persons.ambr
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel_trends_persons.ambr
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel_unordered_persons.ambr
  posthog/hogql_queries/insights/test/__snapshots__/test_lifecycle_query_runner.ambr
  posthog/hogql_queries/insights/test/__snapshots__/test_paths_query_runner_ee.ambr
  posthog/hogql_queries/insights/test/__snapshots__/test_retention_query_runner.ambr
  posthog/hogql_queries/insights/trends/test/__snapshots__/test_trends.ambr
  posthog/session_recordings/queries/test/__snapshots__/test_session_recording_list_from_filters.ambr
Labels: performance
