Repository PostHog/posthog, pull requests merged in 2025-03, with the labels that each got.

#29373 fix: ux improvements for CSS selector field in surveys
  frontend/__snapshots__/replay-player-success--recent-recordings--dark.png
  frontend/__snapshots__/replay-player-success--recent-recordings--light.png
  frontend/src/lib/lemon-ui/LemonField/LemonField.tsx
  frontend/src/scenes/surveys/SurveyCustomization.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#29384 fix: add events to survey display summary
  frontend/src/scenes/surveys/Survey.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
Labels: feature/surveys

#28746 feat(cdp): allow substring without length param
  .cursorignore
  common/hogvm/__tests__/__snapshots__/stl.hoge
  common/hogvm/__tests__/__snapshots__/stl.js
  common/hogvm/__tests__/__snapshots__/stl.stdout
  common/hogvm/__tests__/stl.hog
  common/hogvm/python/stl/__init__.py
  common/hogvm/typescript/src/stl/stl.ts
  posthog/hogql/compiler/javascript_stl.py
Labels: waiting

#29358 feat: Attempt to display non-zero value on Web Vitals
  frontend/__snapshots__/queries-webvitals--web-vitals--dark.png
  frontend/__snapshots__/queries-webvitals--web-vitals--light.png
  frontend/src/queries/nodes/WebVitals/WebVitals.tsx
  frontend/src/queries/nodes/WebVitals/definitions.ts
Labels: team/web-analytics

#29422 fix: Point to Web Analytics direct URL
  frontend/src/layout/navigation-3000/sidepanel/panels/activation/activationLogic.tsx
Labels: team/web-analytics

#29420 fix: Display domains-only for Web Analytics domain dropdown
  frontend/__snapshots__/replay-player-success--recent-recordings--light.png
  frontend/src/scenes/web-analytics/WebAnalyticsFilters.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
Labels: team/web-analytics

#29428 chore: Remove fully rolled-out Web Analytics FFs
  frontend/__snapshots__/replay-player-success--recent-recordings--dark.png
  frontend/__snapshots__/scenes-other-toolbar--heatmap-dark--dark.png
  frontend/__snapshots__/scenes-other-toolbar--heatmap-dark--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--default--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--default--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--empty-state-template--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--empty-state-template--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-suggestions-template--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-suggestions-template--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-urls-template--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-urls-template--light.png
  frontend/src/lib/components/PathCleanFilters/PathRegexModal.tsx
  frontend/src/lib/constants.tsx
  frontend/src/queries/nodes/WebVitals/WebVitals.stories.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsPathBreakdown.stories.tsx
  frontend/src/scenes/onboarding/Onboarding.tsx
  frontend/src/scenes/toolbar-launch/ToolbarLaunch.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.stories.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsFilters.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsHealthCheck.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.stories.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  frontend/src/toolbar/bar/Toolbar.scss
  frontend/src/toolbar/bar/Toolbar.tsx
Labels: team/web-analytics

#28510 fix(toolbar): Don't highlight hidden click elements
  frontend/src/toolbar/utils.ts
Labels: stale

#29239 refactor(web-analytics): moved PropertyIcons.WithLabel to a separated component
  frontend/__snapshots__/web-analytics-tiles--browser--dark.png
  frontend/__snapshots__/web-analytics-tiles--browser--light.png
  frontend/src/lib/components/PropertyIcon/PropertyIcon.stories.tsx
  frontend/src/lib/components/PropertyIcon/PropertyIcon.tsx
  frontend/src/lib/components/PropertyIcon/PropertyIconStandalone.tsx
  frontend/src/lib/components/PropertyIcon/PropertyIconWithLabel.tsx
  frontend/src/lib/components/PropertyIcon/types.ts
  frontend/src/scenes/notebooks/Nodes/NotebookNodePerson.tsx
  frontend/src/scenes/session-recordings/player/sidebar/PlayerSidebarOverviewGrid.tsx
  frontend/src/scenes/session-recordings/playlist/SessionRecordingPreview.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
Labels: team/web-analytics

#28998 chore: playwright 17
  playwright/e2e/product-analytics/retention.spec.ts
Labels: stale

#29495 feat: Add Dagster jobs to compute exchange rates
  .dagster_home/.gitkeep
  .gitignore
  dags/README.md
  dags/ch_examples.py
  dags/common.py
  dags/definitions.py
  dags/deletes.py
  dags/exchange_rate.py
  dags/export_query_logs_to_s3.py
  dags/orm_examples.py
  dags/person_overrides.py
  dags/slack_alerts.py
  dags/tests/test_exchange_rate.py
  posthog/models/exchange_rate/sql.py
Labels: team/web-analytics

#29545 chore: script to easily add surveys
  posthog/management/commands/generate_random_surveys.py
Labels: feature/surveys

#29382 feat(flags): Add ability to duplicate a feature flag
  frontend/__snapshots__/scenes-app-insights--funnel-historical-trends-edit--dark--webkit.png
  frontend/__snapshots__/scenes-app-insights--funnel-historical-trends-edit--light--webkit.png
  frontend/__snapshots__/scenes-app-insights--retention-edit--dark--webkit.png
  frontend/__snapshots__/scenes-app-insights--retention-edit--light--webkit.png
  frontend/src/scenes/feature-flags/FeatureFlag.tsx
  frontend/src/scenes/feature-flags/FeatureFlags.tsx
  frontend/src/scenes/feature-flags/featureFlagLogic.ts
  frontend/src/scenes/urls.ts
Labels: feature/feature-flags

#29618 fix: Force output to be float
  dags/exchange_rate.py
Labels: team/web-analytics

#29285 feat: time to convert funnel udf
  docker/clickhouse/user_defined_function.xml
  frontend/src/lib/constants.tsx
  posthog/hogql_queries/insights/funnels/funnel_time_to_convert_udf.py
  posthog/hogql_queries/insights/funnels/funnels_query_runner.py
  posthog/hogql_queries/insights/funnels/test/__snapshots__/test_funnel_time_to_convert.ambr
  posthog/hogql_queries/insights/funnels/test/test_funnel_time_to_convert.py
  posthog/hogql_queries/insights/funnels/utils.py
  posthog/hogql_queries/legacy_compatibility/feature_flag.py
Labels: stale

#29607 fix: opacity on survey templates
  frontend/__snapshots__/scenes-app-surveys--survey-templates--dark.png
  frontend/__snapshots__/scenes-app-surveys--survey-templates--light.png
  frontend/src/scenes/surveys/SurveyTemplates.tsx
  frontend/src/scenes/surveys/surveyActivityDescriber.tsx
  frontend/src/types.ts
Labels: feature/surveys

#29226 feat: use question id instead of question index for survey queries
  frontend/__snapshots__/replay-player-success--recent-recordings--dark.png
  frontend/__snapshots__/replay-player-success--recent-recordings--light.png
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/surveyLogic.test.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
  frontend/src/scenes/surveys/utils.test.ts
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#29552 feat: add pagination and search filter for surveys API
  frontend/src/lib/api.ts
  frontend/src/scenes/surveys/Surveys.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/surveysLogic.test.ts
  frontend/src/scenes/surveys/surveysLogic.tsx
  posthog/api/survey.py
  posthog/api/test/test_survey.py
Labels: feature/surveys

#29650 fix: Apply better key to path clean filters
  frontend/src/lib/components/PathCleanFilters/PathCleanFilters.tsx
  frontend/src/lib/components/PathCleanFilters/PathRegexModal.tsx
Labels: team/web-analytics

#29558 fix: hidePersonsModal not taking effect
  frontend/src/lib/constants.tsx
  frontend/src/scenes/insights/insightLogic.tsx
Labels: team/web-analytics

#29608 chore: defaults outbound clicks table to sort by clicks desc
  posthog/hogql_queries/web_analytics/external_clicks.py
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_external_clicks_table.ambr
  posthog/hogql_queries/web_analytics/test/test_external_clicks_table.py
Labels: team/web-analytics

#29626 fix(flags): Use a custom signal to trigger the activity log
  mypy-baseline.txt
  posthog/api/feature_flag.py
  posthog/api/test/__snapshots__/test_organization_feature_flag.ambr
  posthog/api/test/test_feature_flag.py
  posthog/models/activity_logging/activity_log.py
  posthog/models/activity_logging/model_activity.py
  posthog/models/feature_flag/feature_flag.py
  posthog/models/signals.py
  posthog/tasks/process_scheduled_changes.py
  posthog/tasks/test/__snapshots__/test_process_scheduled_changes.ambr
Labels: feature/feature-flags, team/feature-flags

#29675 chore: refactor survey overview
  frontend/src/scenes/surveys/SurveyOverview.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
Labels: feature/surveys

#29745 fix: re-add surveys popup toggle on settings
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--light.png
  frontend/src/scenes/surveys/SurveySettings.tsx
Labels: feature/surveys

#29795 feat: Introduce new polyfill for emoji flags on Windows
  frontend/package.json
  frontend/src/exporter/Exporter.scss
  frontend/src/exporter/index.tsx
  frontend/src/index.tsx
  frontend/src/layout.html
  frontend/src/styles/base.scss
  pnpm-lock.yaml
Labels: team/web-analytics

#29856 fix: Fix partition key for hourly exchange rate job
  dags/exchange_rate.py
Labels: team/web-analytics

#29882 fix(taxonomicFilter): remove unused groupPropertiesModel
  frontend/src/lib/components/TaxonomicFilter/taxonomicFilterLogic.tsx
Labels: team/product-analytics

#29798 feat: add surveys sql helper
  frontend/src/lib/components/CodeSnippet/CodeSnippet.tsx
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/SurveySQLHelper.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#29862 fix: allow quesitons with IDs to be reordered after launch
  frontend/src/scenes/surveys/SurveyDragHandle.test.tsx
  frontend/src/scenes/surveys/SurveyDragHandle.tsx
  frontend/src/scenes/surveys/SurveyEditQuestionRow.tsx
Labels: feature/surveys

#29680 feat: Use `currencyConvert` function when calculating WA revenue
  posthog/hogql/database/schema/exchange_rate.py
  posthog/hogql_queries/utils/revenue.py
  posthog/hogql_queries/web_analytics/revenue_example_events.py
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_revenue_example_events.ambr
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_web_overview.ambr
  posthog/hogql_queries/web_analytics/test/test_revenue_example_events.py
  posthog/hogql_queries/web_analytics/test/test_web_overview.py
  posthog/hogql_queries/web_analytics/web_analytics_query_runner.py
  posthog/models/exchange_rate/sql.py
Labels: team/web-analytics

#29030 feat: Display stickiness data as percentages along with count
  frontend/src/scenes/insights/views/InsightsTable/InsightsTable.tsx
  frontend/src/scenes/insights/views/InsightsTable/columns/ValueColumn.tsx
  frontend/src/scenes/insights/views/LineGraph/LineGraph.tsx
  frontend/src/scenes/trends/viz/ActionsLineGraph.tsx
Labels: stale, team/product-analytics

#29967 fix(sql): update event definition sql
  frontend/src/lib/components/TaxonomicFilter/infiniteListLogic.ts
  posthog/api/utils.py
Labels: team/product-analytics

#29987 refactor: Small refactors to Revenue section
  frontend/__snapshots__/scenes-app-data-management--revenue-events-settings--dark.png
  frontend/__snapshots__/scenes-app-data-management--revenue-events-settings--light.png
  frontend/src/lib/components/DefinitionPopover/DefinitionPopoverContents.tsx
  frontend/src/scenes/data-management/revenue/DataWarehouseTablesConfiguration.tsx
  frontend/src/scenes/data-management/revenue/EventConfiguration.tsx
  frontend/src/scenes/data-management/revenue/revenueEventsSettingsLogic.ts
  posthog/api/team.py
  posthog/api/test/__snapshots__/test_api_docs.ambr
Labels: team/web-analytics

#29964 fix: Invert order of precision check
  frontend/src/scenes/insights/views/LineGraph/LineGraph.tsx
Labels: team/web-analytics

#29902 feat: page reports v0.0.1
  frontend/__snapshots__/scenes-app-insights--funnel-left-to-right-edit--dark--webkit.png
  frontend/__snapshots__/scenes-app-insights--funnel-left-to-right-edit--light--webkit.png
  frontend/src/lib/constants.tsx
  frontend/src/products.tsx
  frontend/src/scenes/sceneTypes.ts
  frontend/src/scenes/scenes.ts
  frontend/src/scenes/web-analytics/PageReports.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/pageReportsLogic.ts
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  products/web_analytics/manifest.tsx
Labels: team/web-analytics

#30022 feat: add column view for TaxonomicFilter categories
  frontend/__snapshots__/filters-taxonomic-filter--actions--dark.png
  frontend/__snapshots__/filters-taxonomic-filter--actions--light.png
  frontend/__snapshots__/filters-taxonomic-filter--events-free--dark.png
  frontend/__snapshots__/filters-taxonomic-filter--events-free--light.png
  frontend/__snapshots__/filters-taxonomic-filter--events-premium--dark.png
  frontend/__snapshots__/filters-taxonomic-filter--events-premium--light.png
  frontend/__snapshots__/filters-taxonomic-filter--properties--dark.png
  frontend/__snapshots__/filters-taxonomic-filter--properties--light.png
  frontend/src/lib/components/TaxonomicFilter/InfiniteList.tsx
  frontend/src/lib/components/TaxonomicFilter/InfiniteSelectResults.tsx
  frontend/src/lib/components/TaxonomicFilter/TaxonomicFilter.scss
  frontend/src/lib/components/TaxonomicFilter/TaxonomicFilter.tsx
  frontend/src/lib/components/TaxonomicFilter/infiniteListLogic.ts
Labels: team/product-analytics

#29914 fix: move feedback button customization
  frontend/__snapshots__/scenes-app-surveys--new-survey-customisation-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-customisation-section--light.png
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--light.png
  frontend/src/scenes/surveys/SurveyCustomization.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/SurveyRepeatSchedule.tsx
  frontend/src/scenes/surveys/SurveyWidgetCustomization.tsx
Labels: feature/surveys

#30036 fix(taxonomic-filter): remove h-full
  frontend/src/lib/components/TaxonomicFilter/TaxonomicFilter.tsx
Labels: team/product-analytics

#29677 feat: survey partial responses configuration
  frontend/src/lib/constants.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/SurveyOverview.tsx
  frontend/src/scenes/surveys/SurveyResponsesCollection.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/types.ts
  posthog/api/survey.py
  posthog/api/test/__snapshots__/test_decide.ambr
  posthog/api/test/__snapshots__/test_organization_feature_flag.ambr
  posthog/api/test/__snapshots__/test_survey.ambr
  posthog/api/test/test_survey.py
  posthog/migrations/0689_survey_enable_partial_responses.py
  posthog/migrations/max_migration.txt
  posthog/models/surveys/survey.py
  posthog/models/test/test_remote_config.py
  posthog/tasks/test/__snapshots__/test_process_scheduled_changes.ambr
  posthog/test/__snapshots__/test_feature_flag.ambr
Labels: feature/surveys

#30039 feat: Consider currency on revenue chart + beta labels for revenue
  ee/clickhouse/models/test/test_filters.py
  ee/clickhouse/queries/column_optimizer.py
  frontend/src/queries/nodes/WebOverview/WebOverview.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  posthog/hogql_queries/insights/trends/aggregation_operations.py
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_revenue.ambr
  posthog/hogql_queries/web_analytics/test/test_revenue.py
  posthog/models/entity/entity.py
  posthog/models/filters/test/test_lifecycle_filter.py
  posthog/models/filters/test/test_retention_filter.py
  posthog/models/filters/test/test_stickiness_filter.py
  posthog/queries/test/test_trends.py
  posthog/schema.py
Labels: team/web-analytics

#29977 fix(routing): stay on same page for data management & activity
  frontend/src/scenes/scenes.ts
Labels: team/product-analytics

#30032 fix: dont enable surveys automatically
  frontend/__snapshots__/scenes-app-surveys--surveys-list--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-list--light.png
  frontend/src/scenes/surveys/Surveys.tsx
  frontend/src/scenes/surveys/surveysLogic.tsx
  posthog/api/test/__snapshots__/test_survey.ambr
  posthog/api/test/test_survey.py
  posthog/models/surveys/survey.py
Labels: feature/surveys

#30088 fix: Two small Web-analytics related fixes
  frontend/src/lib/components/TaxonomicFilter/infiniteListLogic.ts
  frontend/src/scenes/web-analytics/CrossSellButtons/HeatmapButton.tsx
Labels: team/web-analytics

#30111 fix(experiments): fix metrics title wrapping so they won't truncate.
  frontend/__snapshots__/scenes-app-experiments--experiment-v-2-with-three-metrics--dark.png
  frontend/__snapshots__/scenes-app-experiments--experiment-v-2-with-three-metrics--light.png
  frontend/src/scenes/experiments/MetricsView/DeltaChart.tsx
Labels: team/experiments

#30251 feat(taxonomicfilters): add stories for the new columnar view
  frontend/__snapshots__/filters-taxonomic-filter--columnar--dark.png
  frontend/__snapshots__/filters-taxonomic-filter--columnar--light.png
  frontend/__snapshots__/filters-taxonomic-filter--force-columnar--dark.png
  frontend/__snapshots__/filters-taxonomic-filter--force-columnar--light.png
  frontend/__snapshots__/filters-taxonomic-filter--force-non-columnar--dark.png
  frontend/__snapshots__/filters-taxonomic-filter--force-non-columnar--light.png
  frontend/src/lib/components/TaxonomicFilter/TaxonomicFilter.stories.tsx
  frontend/src/lib/components/TaxonomicFilter/TaxonomicFilter.tsx
  frontend/src/lib/components/TaxonomicFilter/types.ts
Labels: team/product-analytics

#30254 fix: summarize responses is now dismisseable in surveys
  frontend/__snapshots__/scenes-app-max-ai--welcome--dark.png
  frontend/__snapshots__/scenes-app-max-ai--welcome--light.png
  frontend/__snapshots__/scenes-app-sidepanels--side-panel-max--dark.png
  frontend/__snapshots__/scenes-app-sidepanels--side-panel-max--light.png
  frontend/src/scenes/settings/organization/AIConsentPopoverWrapper.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
Labels: feature/surveys

#30259 feat(lemon-ui): add date limit when selecting dates.
  frontend/__snapshots__/lemon-ui-lemon-calendar-lemon-calendar-select--past-with-limit--dark.png
  frontend/__snapshots__/lemon-ui-lemon-calendar-lemon-calendar-select--past-with-limit--light.png
  frontend/__snapshots__/lemon-ui-lemon-calendar-lemon-calendar-select--upcoming-with-limit--dark.png
  frontend/__snapshots__/lemon-ui-lemon-calendar-lemon-calendar-select--upcoming-with-limit--light.png
  frontend/src/lib/lemon-ui/LemonCalendar/LemonCalendarSelect.stories.tsx
  frontend/src/lib/lemon-ui/LemonCalendar/LemonCalendarSelect.test.tsx
  frontend/src/lib/lemon-ui/LemonCalendar/LemonCalendarSelect.tsx
Labels: feature/lemon-ui

#30119 refactor(experiments): extract Metric Header components.
  frontend/src/scenes/experiments/MetricsView/DeltaChart.test.tsx
  frontend/src/scenes/experiments/MetricsView/DeltaChart.tsx
  frontend/src/scenes/experiments/MetricsView/MetricHeader.tsx
  frontend/src/scenes/experiments/MetricsView/MetricTitle.tsx
  frontend/src/scenes/experiments/MetricsView/utils.test.ts
  frontend/src/scenes/experiments/MetricsView/utils.ts
  frontend/src/scenes/experiments/RunningTimeCalculator/RunningTimeCalculatorModal.tsx
Labels: team/experiments

#30288 feat: add a new HogQL function for retrieving survey responses
  frontend/src/lib/monaco/languages/hogQL.ts
  posthog/hogql/functions/__init__.py
  posthog/hogql/functions/mapping.py
  posthog/hogql/printer.py
  posthog/hogql/test/test_printer.py
  posthog/models/surveys/test_survey_util.py
  posthog/models/surveys/util.py
Labels: feature/surveys

#30302 feat(wa): add period comparison to page reports
  frontend/src/scenes/web-analytics/PageReports.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsFilters.tsx
  frontend/src/scenes/web-analytics/pageReportsLogic.ts
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
Labels: team/web-analytics

#30374 fix: survey opt in loading
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--light.png
  frontend/src/scenes/surveys/SurveySettings.tsx
Labels: feature/surveys

#30092 fix(max): unexisting actions retrieval
  ee/hogai/taxonomy_agent/test/test_toolkit.py
  ee/hogai/taxonomy_agent/toolkit.py
Labels: stale, waiting

#30322 chore: scripts to help debugging team.survey_opt_in
  frontend/src/scenes/surveys/CONTRIBUTING.md
  posthog/models/surveys/debug.py
Labels: feature/surveys

#30432 fix: null on survey single question chart
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
Labels: feature/surveys

#30126 feat: Consider DW rows on WebOverview
  ee/clickhouse/models/test/__snapshots__/test_cohort.ambr
  frontend/__snapshots__/scenes-app-data-management--revenue-events-settings--dark.png
  frontend/__snapshots__/scenes-app-data-management--revenue-events-settings--light.png
  frontend/src/lib/api.mock.ts
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/data-management/revenue/DataWarehouseTablesConfiguration.tsx
  frontend/src/scenes/data-management/revenue/revenueEventsSettingsLogic.ts
  frontend/src/scenes/settings/organization/VerifiedDomains/__snapshots__/verifiedDomainsLogic.test.ts.snap
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  posthog/demo/products/hedgebox/matrix.py
  posthog/hogql/database/schema/exchange_rate.py
  posthog/hogql_queries/insights/test/__snapshots__/test_insight_actors_query_runner.ambr
  posthog/hogql_queries/web_analytics/revenue_example_data_warehouse_tables_query_runner.py
  posthog/hogql_queries/web_analytics/revenue_example_events_query_runner.py
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_revenue.ambr
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_revenue_example_data_warehouse_tables_query_runner.ambr
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_revenue_example_events_query_runner.ambr
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_web_overview.ambr
  posthog/hogql_queries/web_analytics/test/test_revenue.py
  posthog/hogql_queries/web_analytics/test/test_revenue_example_data_warehouse_tables_query_runner.py
  posthog/hogql_queries/web_analytics/test/test_revenue_example_events_query_runner.py
  posthog/hogql_queries/web_analytics/test/test_web_overview.py
  posthog/hogql_queries/web_analytics/web_analytics_query_runner.py
  posthog/hogql_queries/web_analytics/web_overview.py
  posthog/migrations/0694_fix_revenue_tracking_config.py
  posthog/migrations/max_migration.txt
  posthog/schema.py
  posthog/test/base.py
  posthog/utils.py
Labels: team/web-analytics, team/revenue-analytics

#30477 fix(web-analytics): live users count interval is rerendering charts
  frontend/src/scenes/web-analytics/WebAnalyticsLiveUserCount.tsx
  frontend/src/scenes/web-analytics/liveWebAnalyticsLogic.tsx
Labels: team/web-analytics

#30171 refactor(experiments): edit experiment end date.
  frontend/src/lib/utils/eventUsageLogic.ts
  frontend/src/scenes/experiments/ExperimentView/ExperimentDate.tsx
  frontend/src/scenes/experiments/ExperimentView/ExperimentDates.tsx
  frontend/src/scenes/experiments/experimentLogic.tsx
Labels: team/experiments

#30577 fix: cannot save feature flag when a payload is cleared
  frontend/src/scenes/feature-flags/FeatureFlag.tsx
Labels: feature/feature-flags
