Repository PostHog/posthog, pull requests merged in 2025-02, with the labels that each got.

#28153 chore: survey contributing update
  frontend/src/scenes/surveys/CONTRIBUTING.md
Labels: feature/surveys

#27997 feat: Improve path cleaning UI/UX
  frontend/__snapshots__/filters-pathcleanfilters--default--dark.png
  frontend/__snapshots__/filters-pathcleanfilters--default--light.png
  frontend/__snapshots__/queries-webvitalspathbreakdown--web-vitals-path-breakdown--dark.png
  frontend/__snapshots__/queries-webvitalspathbreakdown--web-vitals-path-breakdown--light.png
  frontend/__snapshots__/scenes-app-web-analytics--web-analytics-dashboard--dark.png
  frontend/__snapshots__/scenes-app-web-analytics--web-analytics-dashboard--light.png
  frontend/src/lib/components/PathCleanFilters/PathCleanFilterItem.tsx
  frontend/src/lib/components/PathCleanFilters/PathCleanFilters.stories.tsx
  frontend/src/lib/components/PathCleanFilters/PathCleanFilters.tsx
  frontend/src/lib/components/PathCleanFilters/PathRegexPopover.tsx
  frontend/src/lib/constants.tsx
  frontend/src/lib/utils.tsx
  frontend/src/queries/nodes/DataNode/Reload.tsx
  frontend/src/queries/nodes/WebVitals/WebVitals.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsPathBreakdown.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsTab.tsx
  frontend/src/queries/nodes/WebVitals/definitions.ts
  frontend/src/queries/schema.json
  frontend/src/scenes/insights/filters/PathCleaningFilter.tsx
  frontend/src/scenes/settings/environment/PathCleaningFiltersConfig.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsLiveUserCount.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  frontend/src/types.ts
  plugin-server/src/types.ts
  posthog/hogql/property.py
  posthog/hogql_queries/web_analytics/stats_table.py
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_web_stats_table.ambr
  posthog/hogql_queries/web_analytics/test/test_web_stats_table.py
  posthog/hogql_queries/web_analytics/web_analytics_query_runner.py
  posthog/schema.py
Labels: team/web-analytics

#28287 feat: Add info icon to Web Vitals navbar
  frontend/src/queries/nodes/WebVitals/WebVitals.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsTab.tsx
Labels: team/web-analytics

#28109 chore: add device type filtering on surveys
  cypress/e2e/surveys.cy.ts
  frontend/__snapshots__/scenes-app-surveys--new-survey-targeting-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-targeting-section--light.png
  frontend/src/lib/components/PropertyFilters/components/PropertyValue.tsx
  frontend/src/lib/taxonomy.tsx
  frontend/src/scenes/surveys/Survey.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/types.ts
Labels: feature/surveys

#28300 feat: Improvements to the toolbar launch page
  frontend/__snapshots__/scenes-app-heatmaps--heatmaps-browser-with-unauthorized-page-selected--dark.png
  frontend/__snapshots__/scenes-app-heatmaps--heatmaps-browser-with-unauthorized-page-selected--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--default--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--default--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--empty-state-template--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--empty-state-template--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-suggestions-template--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-suggestions-template--light.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-urls-template--dark.png
  frontend/__snapshots__/scenes-other-toolbarlaunch--no-urls-template--light.png
  frontend/src/lib/components/AuthorizedUrlList/AuthorizedUrlList.tsx
  frontend/src/lib/components/AuthorizedUrlList/authorizedUrlListLogic.ts
  frontend/src/scenes/toolbar-launch/ToolbarLaunch.stories.tsx
  frontend/src/scenes/toolbar-launch/ToolbarLaunch.tsx
Labels: team/web-analytics

#28384 fix: Stop querying Web Vitals endpoint when Web Vitals collection is not enabled
  frontend/src/toolbar/web-vitals/WebVitalsToolbarMenu.tsx
  frontend/src/toolbar/web-vitals/webVitalsToolbarLogic.ts
  posthog/api/test/test_web_vitals.py
  posthog/hogql_queries/insights/trends/aggregation_operations.py
  posthog/hogql_queries/insights/trends/test/__snapshots__/test_trends.ambr
Labels: team/web-analytics

#28410 feat: Cross-sell Web Vitals to Product Analytics
  frontend/__snapshots__/queries-webvitals--web-vitals--dark.png
  frontend/__snapshots__/queries-webvitals--web-vitals--light.png
  frontend/src/layout/navigation-3000/sidebars/featureFlags.tsx
  frontend/src/lib/components/Alerts/views/ManageAlertsModal.tsx
  frontend/src/lib/components/Cards/InsightCard/QueryCard.tsx
  frontend/src/lib/components/CommandPalette/commandPaletteLogic.tsx
  frontend/src/lib/utils/product-intents.ts
  frontend/src/queries/nodes/DataTable/BackToSource.tsx
  frontend/src/queries/nodes/DataTable/DataTableOpenEditor.tsx
  frontend/src/queries/nodes/Node/EditHogQLButton.tsx
  frontend/src/queries/nodes/Node/OpenEditorButton.tsx
  frontend/src/queries/nodes/WebVitals/WebVitals.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsProgressBar.tsx
  frontend/src/scenes/dashboard/AddInsightToDashboardModal.tsx
  frontend/src/scenes/data-management/actions/ActionsTable.tsx
  frontend/src/scenes/data-management/database/DatabaseTables.tsx
  frontend/src/scenes/data-management/events/EventDefinitionsTable.tsx
  frontend/src/scenes/data-management/properties/PropertyDefinitionsTable.tsx
  frontend/src/scenes/data-warehouse/external/forms/SyncProgressStep.tsx
  frontend/src/scenes/experiments/ExperimentView/components.tsx
  frontend/src/scenes/feature-flags/FeatureFlags.tsx
  frontend/src/scenes/feature-flags/RecentFeatureFlagInsightsCard.tsx
  frontend/src/scenes/funnels/FunnelStepMore.tsx
  frontend/src/scenes/insights/InsightNav/InsightsNav.tsx
  frontend/src/scenes/insights/InsightPageHeader.tsx
  frontend/src/scenes/insights/insightSceneLogic.test.ts
  frontend/src/scenes/insights/utils.tsx
  frontend/src/scenes/max/Thread.tsx
  frontend/src/scenes/notebooks/Nodes/NotebookNodeQuery.tsx
  frontend/src/scenes/paths/pathsDataLogic.ts
  frontend/src/scenes/pipeline/hogfunctions/metrics/HogFunctionEventEstimates.tsx
  frontend/src/scenes/retention/retentionModalLogic.ts
  frontend/src/scenes/saved-insights/ReloadInsight.tsx
  frontend/src/scenes/saved-insights/newInsightsMenu.tsx
  frontend/src/scenes/settings/environment/PathCleaningFiltersConfig.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/trends/persons-modal/personsModalLogic.ts
  frontend/src/scenes/urls.ts
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsModal.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  playwright/e2e/product-analytics/insight-navigation.spec.ts
Labels: team/web-analytics

#28462 fix: Avoid crashing settings page on broken path cleaning regex
  frontend/__snapshots__/scenes-app-insights--funnel-top-to-bottom-breakdown-edit--dark.png
  frontend/src/lib/components/PathCleanFilters/PathCleanFilterItem.tsx
  frontend/src/lib/components/PathCleanFilters/PathRegexPopover.tsx
  frontend/src/lib/utils/regexp.ts
  frontend/src/scenes/settings/environment/PathCleaningFiltersConfig.tsx
Labels: team/web-analytics

#28388 fix: Consider all test properties on web overview
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_web_overview.ambr
  posthog/hogql_queries/web_analytics/web_overview.py
Labels: team/web-analytics

#28200 chore: use lightweight deletes for person deletion
  posthog/models/async_deletion/delete_person.py
Labels: stale

#28555 fix: reset preview page index on survey unmount
  frontend/src/scenes/surveys/Survey.tsx
Labels: feature/surveys

#28450 fix: add form validation for survey's colors properties
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--light.png
  frontend/src/lib/lemon-ui/LemonField/LemonField.tsx
  frontend/src/lib/lemon-ui/LemonInput/LemonInput.scss
  frontend/src/scenes/settings/settingsSceneLogic.test.ts
  frontend/src/scenes/surveys/SurveyAppearancePreview.tsx
  frontend/src/scenes/surveys/SurveyCustomization.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/SurveySettings.tsx
  frontend/src/scenes/surveys/Surveys.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.test.ts
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#28540 fix: Avoid refetching web vitals data on query/hash parameters changes
  frontend/src/toolbar/web-vitals/webVitalsToolbarLogic.ts
Labels: team/web-analytics

#28581 fix: device type display on survey, and spacing between filters
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--anthropic--dark.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--anthropic--light.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--basic--dark.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--basic--light.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--error--dark.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--error--light.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--markdown--dark.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--markdown--light.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--tools--dark.png
  frontend/__snapshots__/scenes-app-llm-observability-conversation-display--tools--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-targeting-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-targeting-section--light.png
  frontend/src/scenes/surveys/Survey.tsx
Labels: feature/surveys

#28562 fix: make survey spacing consistent between visualizations
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
Labels: feature/surveys

#28643 fix: make NPS-rating question consider all survey iterations
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
Labels: feature/surveys

#28745 fix: big filters button on surveys page
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
Labels: feature/surveys

#28755 fix: Fix Web Analytics not displaying Map
  frontend/src/lib/api.ts
  frontend/src/scenes/actions/actionLogic.ts
  frontend/src/scenes/pipeline/destinations/destinationsLogic.tsx
  frontend/src/scenes/pipeline/hogfunctions/list/hogFunctionListLogic.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  products/messaging/frontend/functionsTableLogic.tsx
Labels: team/web-analytics

#28762 fix: form validation to link-type surveys questions
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#28759 feat: new filters for nps trends
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/surveyLogic.test.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#28151 fix: Update Survey Repeating Schedule if it's triggered by an event
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/SurveyRepeatSchedule.tsx
Labels: feature/surveys

#28765 chore: allow more questions options
  frontend/src/scenes/surveys/SurveyEditQuestionRow.tsx
Labels: feature/surveys

#28766 fix: consider all nps iterations for calculating trend
  frontend/src/scenes/surveys/SurveyView.tsx
Labels: feature/surveys

#28243 feat: make delete dag dependent on current most recent squash job results
  dags/deletes.py
  dags/person_overrides.py
  dags/tests/test_deletes.py
Labels: stale

#28825 fix: surveys' device type formatting
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#28647 feat: Introduce sortable Web Analytics tables
  frontend/__snapshots__/web-analytics-tiles--browser--dark.png
  frontend/__snapshots__/web-analytics-tiles--browser--light.png
  frontend/__snapshots__/web-analytics-tiles--path--dark.png
  frontend/__snapshots__/web-analytics-tiles--path--light.png
  frontend/__snapshots__/web-analytics-tiles--referrer-domain--dark.png
  frontend/__snapshots__/web-analytics-tiles--referrer-domain--light.png
  frontend/src/lib/constants.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/web-analytics/TableSortingIndicator.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.stories.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  posthog/hogql_queries/web_analytics/external_clicks.py
  posthog/hogql_queries/web_analytics/stats_table.py
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_external_clicks_table.ambr
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_web_stats_table.ambr
  posthog/hogql_queries/web_analytics/test/test_web_stats_table.py
  posthog/hogql_queries/web_analytics/web_goals.py
  posthog/schema.py
  posthog/test/__snapshots__/test_feature_flag.ambr
Labels: team/web-analytics

#28858 fix: show device match validation in the ui
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#28859 chore: change hint on survey link type
  frontend/src/scenes/surveys/SurveyEditQuestionRow.tsx
Labels: feature/surveys

#28699 feat: Add `HeatmapButton` cross-sell button
  frontend/src/lib/lemon-ui/LemonButton/LemonButton.tsx
  frontend/src/scenes/web-analytics/CrossSellButtons/HeatmapButton.tsx
  frontend/src/scenes/web-analytics/CrossSellButtons/ReplayButton.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  posthog/hogql_queries/web_analytics/stats_table.py
  posthog/hogql_queries/web_analytics/test/test_web_stats_table.py
Labels: team/web-analytics

#28890 fix: default date range filter for survey queries
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#28962 feat: Several UX improvements to Web Vitals
  frontend/__snapshots__/queries-webvitals--web-vitals--dark.png
  frontend/__snapshots__/queries-webvitals--web-vitals--light.png
  frontend/__snapshots__/queries-webvitalspathbreakdown--web-vitals-path-breakdown--dark.png
  frontend/__snapshots__/queries-webvitalspathbreakdown--web-vitals-path-breakdown--light.png
  frontend/__snapshots__/scenes-app-web-analytics--web-analytics-dashboard--dark.png
  frontend/__snapshots__/scenes-app-web-analytics--web-analytics-dashboard--light.png
  frontend/src/queries/nodes/WebVitals/WebVitals.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsContent.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsPathBreakdown.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsProgressBar.tsx
  frontend/src/queries/nodes/WebVitals/WebVitalsTab.scss
  frontend/src/queries/nodes/WebVitals/WebVitalsTab.tsx
  frontend/src/queries/nodes/WebVitals/definitions.ts
  frontend/src/scenes/settings/environment/PathCleaningFiltersConfig.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsLiveUserCount.tsx
Labels: team/web-analytics

#29105 fix: don't preview confirmation message if it's not configured
  frontend/src/scenes/surveys/SurveyFormAppearance.tsx
Labels: feature/surveys

#29097 fix: normalizes start date for survey filters
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#29107 fix: group nps trend by hour if survey is < 2 days old
  frontend/src/scenes/surveys/surveyLogic.test.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#29137 chore(web-analytics): add icons to device type breakdown
  frontend/src/lib/components/PropertyIcon.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  posthog/demo/matrix/randomization.py
Labels: team/web-analytics

#29141 feat(web-analytics): add quick browser icons to breakdwon
  frontend/src/lib/components/PropertyIcon.tsx
  frontend/src/lib/lemon-ui/icons/icons.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  posthog/demo/matrix/randomization.py
Labels: team/web-analytics

#28642 feat: Added cumulative stickiness
  frontend/__snapshots__/scenes-app-insights--stickiness-edit--dark--webkit.png
  frontend/__snapshots__/scenes-app-insights--stickiness-edit--dark.png
  frontend/__snapshots__/scenes-app-insights--stickiness-edit--light--webkit.png
  frontend/__snapshots__/scenes-app-insights--stickiness-edit--light.png
  frontend/src/queries/nodes/InsightQuery/defaults.ts
  frontend/src/queries/nodes/InsightQuery/utils/filtersToQueryNode.ts
  frontend/src/queries/nodes/InsightViz/CumulativeStickinessFilter.tsx
  frontend/src/queries/nodes/InsightViz/EditorFilters.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  posthog/hogql_queries/insights/stickiness_query_runner.py
  posthog/hogql_queries/insights/test/test_stickiness_query_runner.py
  posthog/schema.py
Labels: team/product-analytics

#29111 feat: add more details to NPS score [part 1]
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.test.ts
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#29147 refactor: Stop storing definitions to `hostdefinition`
  rust/property-defs-rs/.sqlx/query-59ea7e23d3d29b04ad8441b3cffc19de5b253c309af99a7083bbd3a5ad21573a.json
  rust/property-defs-rs/src/types.rs
  rust/property-defs-rs/tests/test_migrations/20240830124836_setup_propdefs_tables.sql
  rust/property-defs-rs/tests/updates.rs
Labels: team/web-analytics

#28712 fix(routing): Improve project switching for insights pages
  frontend/src/layout/navigation/EnvironmentSwitcher.tsx
  frontend/src/layout/navigation/ProjectSwitcher.tsx
  frontend/src/lib/utils/router-utils.ts
Labels: team/product-analytics

#29199 chore: add inherit option for survery font customization
  frontend/src/scenes/surveys/SurveyCustomization.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/styles/base.scss
  frontend/src/types.ts
Labels: feature/surveys

#29112 feat: add more details to NPS score [part 2]
  cypress/e2e/surveys.cy.ts
  frontend/src/scenes/surveys/QuestionBranchingInput.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
Labels: feature/surveys

#29179 feat: add missing os to icon mapping
  frontend/src/lib/components/PropertyIcon.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
Labels: team/web-analytics

#29265 fix: adjustments for surveys' question filters
  frontend/__snapshots__/replay-player-success--recent-recordings--dark.png
  frontend/__snapshots__/replay-player-success--recent-recordings--light.png
  frontend/__snapshots__/replay-player-success--second-recording-in-list--dark.png
  frontend/__snapshots__/replay-player-success--second-recording-in-list--light.png
  frontend/__snapshots__/scenes-app-web-analytics--web-analytics-dashboard--dark.png
  frontend/__snapshots__/scenes-app-web-analytics--web-analytics-dashboard--light.png
  frontend/src/scenes/surveys/SurveyAnswerFilters.tsx
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
Labels: feature/surveys

#29209 chore: add question ID to surveys
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/types.ts
  posthog/api/test/test_survey.py
  posthog/management/commands/add_question_ids_to_surveys.py
  posthog/management/commands/test/test_add_question_ids_to_surveys.py
  posthog/models/surveys/survey.py
  posthog/models/test/test_remote_config.py
  posthog/test/test_survey_question_ids.py
Labels: feature/surveys

#29273 feat: Add Web Analytics to Onboarding + Quick Start
  frontend/src/layout/navigation-3000/sidepanel/panels/activation/activationLogic.tsx
  frontend/src/lib/components/AuthorizedUrlList/AuthorizedUrlList.tsx
  frontend/src/lib/components/AuthorizedUrlList/EmptyState.tsx
  frontend/src/lib/constants.tsx
  frontend/src/scenes/onboarding/Onboarding.tsx
  frontend/src/scenes/onboarding/OnboardingInviteTeammates.tsx
  frontend/src/scenes/onboarding/OnboardingProductConfiguration.tsx
  frontend/src/scenes/onboarding/OnboardingStep.tsx
  frontend/src/scenes/onboarding/onboardingLogic.tsx
  frontend/src/scenes/onboarding/web-analytics/OnboardingWebAnalyticsAuthorizedDomainsStep.tsx
  frontend/src/scenes/settings/environment/AutocaptureSettings.tsx
  frontend/src/scenes/teamLogic.tsx
Labels: team/web-analytics
