Repository PostHog/posthog, pull requests merged in 2025-04, with the labels that each got.

#30674 fix: getSurveyResponse also working for multiple choice
  posthog/hogql/functions/mapping.py
  posthog/hogql/printer.py
  posthog/hogql/test/test_printer.py
  posthog/models/surveys/test_survey_util.py
  posthog/models/surveys/util.py
Labels: feature/surveys

#30677 fix: end date on survey results
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#30679 chore: add utility to copy survey response key
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/constants.tsx
Labels: feature/surveys

#30661 fix: nps trend data fresh created surveys and edit mode
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#30676 fix: simplify survey queries with getSurveyResponse
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/SurveySQLHelper.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#30421 feat(messaging): enable Broadcasts bulk delivery
  frontend/src/lib/api.ts
  frontend/src/scenes/pipeline/hogfunctions/HogFunctionConfiguration.tsx
  frontend/src/scenes/pipeline/hogfunctions/HogFunctionTest.tsx
  frontend/src/scenes/pipeline/hogfunctions/hogFunctionConfigurationLogic.tsx
  posthog/api/hog_function.py
  posthog/cdp/templates/_internal/template_broadcast.py
Labels: feature/messaging

#30620 chore(web-analytics): Page Reports's filters UI improvements
  frontend/src/scenes/web-analytics/PageReports.tsx
  frontend/src/scenes/web-analytics/pageReportsLogic.ts
Labels: team/web-analytics

#30774 fix: trim url and CSS selector for survey display conditions
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.ts
  frontend/src/types.ts
Labels: feature/surveys

#30044 fix: add a pointer cursor to "All Products" button
  frontend/src/layout/navigation-3000/sidepanel/panels/activation/SidePanelActivation.tsx
Labels: stale

#30520 feat: new surveys stats endpoints
  posthog/api/survey.py
  posthog/api/test/__snapshots__/test_api_docs.ambr
  posthog/api/test/__snapshots__/test_survey.ambr
  posthog/api/test/test_survey.py
Labels: feature/surveys

#30751 feat: Add log item when surveys are resumed
  frontend/src/scenes/surveys/surveyActivityDescriber.tsx
Labels: enhancement

#30876 fix: Add flags polyfill to other places
  common/tailwind/tailwind.config.js
  frontend/src/queries/nodes/DataVisualization/Components/Charts/LineGraph.tsx
  frontend/src/scenes/insights/views/Histogram/Histogram.scss
  frontend/src/scenes/insights/views/LineGraph/LineGraph.tsx
  frontend/src/toolbar/elements/AutocaptureElementLabel.tsx
Labels: team/revenue-analytics

#30878 chore: add extra buckets for async queries' histograms
  posthog/clickhouse/client/execute_async.py
Labels: clickhouse, feature/api-queries

#30885 chore: API queries report usage only on successfully finished queries.
  posthog/tasks/test/__snapshots__/test_usage_report.ambr
  posthog/tasks/usage_report.py
Labels: feature/billing, feature/api-queries

#30787 feat: improvements for survey stats
  cypress/e2e/surveys.cy.ts
  frontend/src/lib/api.ts
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/SurveyStatsSummary.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/components/StackedBar.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
  frontend/src/types.ts
  posthog/api/survey.py
Labels: feature/surveys

#30967 fix: dont call survey stats for new surveys
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#30954 fix: add survey_opt_in in team activity log tab
  frontend/src/scenes/teamActivityDescriber.tsx
Labels: feature/surveys

#30975 fix: skeleton for survey stats
  frontend/src/scenes/surveys/SurveyStatsSummary.tsx
Labels: feature/surveys

#30951 refactor: Use `ast.SelectQuery` to build revenue analytics query
  posthog/hogql/printer.py
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_example_data_warehouse_tables_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_example_data_warehouse_tables_query_runner.py
  products/revenue_analytics/backend/models.py
Labels: team/revenue-analytics

#30298 feat(Funnels): Make detailed results table for Funnels sortable
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-breakdown--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-breakdown--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-breakdown-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-breakdown-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-breakdown--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-breakdown--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-breakdown-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-breakdown-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-edit--light.png
  frontend/src/scenes/insights/views/Funnels/FunnelStepsTable.tsx
Labels: feature/funnels, stale, team/product-analytics

#31018 chore: unify "strip query parameters" filters on PageReports
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
Labels: team/web-analytics

#31050 chore: fixes and updates to livesteam
  livestream/Dockerfile
  livestream/filter.go
  livestream/filter_test.go
  livestream/go.mod
  livestream/go.sum
  livestream/jwt.go
  livestream/jwt_test.go
  livestream/kafka.go
  livestream/kafka_test.go
  livestream/live_stats.go
  livestream/main.go
  livestream/main_test.go
  livestream/served.go
  livestream/testdata/event.json
Labels: livestream

#31023 fix: add banner to enable surveys in survey page
  frontend/__snapshots__/scenes-app-surveys--surveys-list--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-list--light.png
  frontend/src/scenes/surveys/SurveySettings.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/Surveys.tsx
Labels: feature/surveys

#29995 ci: move off of `ubuntu-20.04`
  .github/workflows/sentry.yml
Labels: stale

#31016 feat: Use dot notation for revenue views
  posthog/hogql/database/database.py
  posthog/warehouse/test/utils.py
  products/revenue_analytics/backend/hogql_queries/revenue_example_data_warehouse_tables_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_example_data_warehouse_tables_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/test_models.py
  products/revenue_analytics/backend/models.py
Labels: feature/revenue-analytics

#31101 feat(revenue-analytics): Introduce basic Revenue Analytics setup page + queries
  frontend/src/layout/navigation-3000/navigationLogic.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/queries/utils.ts
  frontend/src/scenes/data-management/database/databaseTableListLogic.ts
  frontend/src/scenes/data-warehouse/external/forms/DataWarehouseIntegrationChoice.tsx
  frontend/src/scenes/data-warehouse/external/forms/SchemaForm.tsx
  frontend/src/scenes/data-warehouse/external/forms/SyncMethodForm.tsx
  frontend/src/scenes/data-warehouse/new/sourceWizardLogic.tsx
  frontend/src/scenes/pipeline/Pipeline.stories.tsx
  frontend/src/scenes/pipeline/PipelineNodeNew.tsx
  frontend/src/scenes/pipeline/destinations/newDestinationsLogic.tsx
  frontend/src/scenes/pipeline/hogfunctions/urls.ts
  frontend/src/scenes/pipeline/pipelineNodeNewLogic.tsx
  frontend/src/scenes/saved-insights/SavedInsights.tsx
  frontend/src/scenes/scenes.ts
  frontend/src/scenes/urls.ts
  posthog/hogql/database/database.py
  posthog/hogql_queries/query_runner.py
  posthog/schema.py
  products/early_access_features/frontend/InstructionsModal.tsx
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_churn_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_growth_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_overview_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_example_data_warehouse_tables_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_example_events_query_runner.py
  products/revenue_analytics/backend/models.py
  products/revenue_analytics/frontend/RevenueAnalyticsScene.tsx
  products/revenue_analytics/frontend/revenueAnalyticsLogic.ts
  products/revenue_analytics/frontend/tiles/GrossRevenueTile.tsx
  products/revenue_analytics/frontend/tiles/OverviewTile.tsx
  products/revenue_analytics/frontend/tiles/RevenueChurnTile.tsx
  products/revenue_analytics/frontend/tiles/RevenueGrowthRateTile.tsx
Labels: team/revenue-analytics

#30912 feat: add top events tile to page reports
  frontend/src/scenes/web-analytics/pageReportsLogic.ts
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
Labels: team/web-analytics

#31143 feat: add show more buttons to page reports tiles
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsModal.tsx
  frontend/src/scenes/web-analytics/insightsUtils.ts
  frontend/src/scenes/web-analytics/pageReportsLogic.ts
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  frontend/src/scenes/web-analytics/webAnalyticsModalLogic.ts
Labels: team/web-analytics

#31214 feat(revenue-analytics): Introduce base Rev Analytics queries
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-time-to-convert-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-time-to-convert-edit--light.png
  frontend/src/lib/components/IntervalFilter/IntervalFilter.tsx
  frontend/src/lib/lemon-ui/LemonTable/LemonTable.tsx
  frontend/src/lib/lemon-ui/LemonTable/TableRow.tsx
  frontend/src/lib/lemon-ui/LemonTable/types.ts
  frontend/src/lib/utils.tsx
  frontend/src/queries/Query/Query.tsx
  frontend/src/queries/nodes/DataTable/DataTable.tsx
  frontend/src/queries/nodes/DataTable/queryFeatures.ts
  frontend/src/queries/nodes/DataTable/renderColumn.tsx
  frontend/src/queries/nodes/DataVisualization/Components/Table.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/queries/types.ts
  frontend/src/queries/utils.ts
  frontend/src/scenes/saved-insights/SavedInsights.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  posthog/hogql/database/database.py
  posthog/hogql_queries/query_runner.py
  posthog/schema.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_churn_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_growth_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_overview_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_top_customers_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_example_data_warehouse_tables_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_growth_rate_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_overview_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_top_customers_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_example_data_warehouse_tables_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/data/stripe_charges.csv
  products/revenue_analytics/backend/hogql_queries/test/data/stripe_customers.csv
  products/revenue_analytics/backend/hogql_queries/test/data/structure.py
  products/revenue_analytics/backend/hogql_queries/test/test_models.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_growth_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_overview_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_top_customers_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_example_data_warehouse_tables_query_runner.py
  products/revenue_analytics/backend/models.py
  products/revenue_analytics/frontend/RevenueAnalyticsScene.tsx
  products/revenue_analytics/frontend/nodes/RevenueAnalyticsOverviewNode.tsx
  products/revenue_analytics/frontend/nodes/index.ts
  products/revenue_analytics/frontend/revenueAnalyticsLogic.ts
  products/revenue_analytics/frontend/tiles/OverviewTile.tsx
  products/revenue_analytics/frontend/tiles/RevenueChurnTile.tsx
  products/revenue_analytics/frontend/tiles/RevenueGrowthRateTile.tsx
  products/revenue_analytics/frontend/tiles/TopCustomers.tsx
Labels: team/revenue-analytics

#31212 feat: add page reports cta when filtering by pathname
  frontend/src/scenes/web-analytics/WebAnalyticsDashboard.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsPageReportsCTA.tsx
Labels: team/web-analytics

#31275 feat: Display revenue views in data warehouse sidebar
  frontend/src/scenes/data-management/database/databaseTableListLogic.ts
  frontend/src/scenes/data-warehouse/editor/editorSceneLogic.tsx
  frontend/src/scenes/data-warehouse/editor/sidebar/QueryDatabase.tsx
  frontend/src/scenes/data-warehouse/editor/sidebar/queryDatabaseLogic.ts
  frontend/src/scenes/data-warehouse/settings/dataWarehouseSceneLogic.ts
Labels: team/data-warehouse, team/revenue-analytics

#31319 fix: Overview tiles are not showing up on some conditions
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_web_overview.ambr
  posthog/hogql_queries/web_analytics/test/test_web_overview.py
  posthog/hogql_queries/web_analytics/web_overview.py
Labels: team/web-analytics

#31359 feat: Improve month handling for Revenue Analytics
  frontend/__snapshots__/scenes-app-revenue-analytics--revenue-analytics-dashboard-line-view--dark.png
  frontend/__snapshots__/scenes-app-revenue-analytics--revenue-analytics-dashboard-line-view--light.png
  frontend/__snapshots__/scenes-app-revenue-analytics--revenue-analytics-dashboard-onboarding--dark.png
  frontend/__snapshots__/scenes-app-revenue-analytics--revenue-analytics-dashboard-onboarding--light.png
  frontend/__snapshots__/scenes-app-revenue-analytics--revenue-analytics-dashboard-table-view--dark.png
  frontend/__snapshots__/scenes-app-revenue-analytics--revenue-analytics-dashboard-table-view--light.png
  frontend/src/lib/utils.tsx
  frontend/src/queries/Query/Query.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/insights/aggregationAxisFormat.ts
  frontend/src/types.ts
  posthog/hogql_queries/utils/query_date_range.py
  posthog/queries/query_date_range.py
  posthog/queries/util.py
  posthog/schema.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_growth_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_overview_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_top_customers_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_growth_rate_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_overview_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_top_customers_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_growth_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_top_customers_query_runner.py
  products/revenue_analytics/frontend/RevenueAnalyticsFilters.tsx
  products/revenue_analytics/frontend/RevenueAnalyticsScene.stories.tsx
  products/revenue_analytics/frontend/RevenueAnalyticsScene.tsx
  products/revenue_analytics/frontend/__mocks__/DatabaseSchemaQuery.json
  products/revenue_analytics/frontend/__mocks__/RevenueAnalyticsGrowthRateQuery.json
  products/revenue_analytics/frontend/__mocks__/RevenueAnalyticsOverviewQuery.json
  products/revenue_analytics/frontend/__mocks__/RevenueAnalyticsTopCustomersQuery.json
  products/revenue_analytics/frontend/__mocks__/TrendsQuery.json
  products/revenue_analytics/frontend/nodes/RevenueAnalyticsGrowthRateNode.tsx
  products/revenue_analytics/frontend/nodes/RevenueAnalyticsOverviewNode.tsx
  products/revenue_analytics/frontend/nodes/RevenueAnalyticsTopCustomersNode.tsx
  products/revenue_analytics/frontend/nodes/index.ts
  products/revenue_analytics/frontend/nodes/utils.tsx
  products/revenue_analytics/frontend/revenueAnalyticsLogic.ts
  products/revenue_analytics/frontend/tiles/GrossRevenueTile.tsx
  products/revenue_analytics/frontend/tiles/RevenueGrowthRateTile.tsx
  products/revenue_analytics/frontend/tiles/TopCustomers.tsx
  products/revenue_analytics/frontend/tiles/TopCustomersTile.tsx
Labels: team/revenue-analytics

#30851 fix: prevent query state reset when opening session recording modal
  frontend/src/scenes/persons/PersonScene.tsx
Labels: stale

#30191 chore: update anonymous persons in actor modal for clarity
  frontend/src/scenes/persons/person-utils.ts
Labels: stale

#31268 chore: remove BETA label from feedback survey
  frontend/__snapshots__/scenes-app-surveys--new-survey-presentation-section--light.png
  frontend/src/scenes/surveys/SurveyAppearanceUtils.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/SurveyOverview.tsx
  frontend/src/scenes/surveys/Surveys.tsx
  frontend/src/scenes/surveys/constants.tsx
Labels: feature/surveys

#31357 feat: avoid pathnames filters from affecting bounce rate
  posthog/hogql_queries/web_analytics/stats_table.py
  posthog/hogql_queries/web_analytics/test/__snapshots__/test_web_stats_table.ambr
  posthog/hogql_queries/web_analytics/test/test_web_stats_table.py
Labels: team/web-analytics

#30873 fix: update API docs for 1000 ID batch limit
  posthog/api/person.py
Labels: stale

#31483 chore: rephrase online indicator + link to docs
  frontend/src/scenes/web-analytics/WebAnalyticsLiveUserCount.tsx
Labels: team/web-analytics

#31415 feat: persist survey answers and property filters
  frontend/src/scenes/surveys/Survey.tsx
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.test.ts
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#31221 chore: add flutter recordings to usage reporting
  posthog/tasks/test/__snapshots__/test_usage_report.ambr
  posthog/tasks/usage_report.py
Labels: waiting

#31456 fix: survey performance now works with filters
  frontend/src/lib/api.ts
  frontend/src/scenes/surveys/SurveyStatsSummary.tsx
  frontend/src/scenes/surveys/surveyLogic.test.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.ts
  frontend/src/types.ts
Labels: feature/surveys

#31593 fix: survey summarize responses with new query format
  ee/surveys/summaries/summarize_surveys.py
  frontend/src/lib/api.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
  posthog/api/survey.py
Labels: feature/surveys

#31102 feat: add frustating pages tile to web analytics dashboard
  frontend/src/lib/constants.tsx
  frontend/src/lib/utils/product-intents.ts
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/urls.ts
  frontend/src/scenes/web-analytics/CrossSellButtons/ErrorTrackingButton.tsx
  frontend/src/scenes/web-analytics/CrossSellButtons/HeatmapButton.tsx
  frontend/src/scenes/web-analytics/CrossSellButtons/ReplayButton.tsx
  frontend/src/scenes/web-analytics/TableSortingIndicator.tsx
  frontend/src/scenes/web-analytics/tiles/WebAnalyticsTile.tsx
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
  posthog/hogql_queries/web_analytics/stats_table.py
  posthog/schema.py
Labels: team/web-analytics

#31674 fix: web analytics toggles were not in sync with url state
  frontend/src/scenes/web-analytics/webAnalyticsLogic.tsx
Labels: team/web-analytics
