Repository PostHog/posthog, pull requests merged in 2025-05, with the labels that each got.

#31099 refactor: split out persons postgres
  .github/workflows/ci-plugin-server.yml
  docker-compose.base.yml
  plugin-server/README.md
  plugin-server/bin/ci_functional_tests.sh
  plugin-server/functional_tests/api.ts
  plugin-server/src/config/config.ts
  plugin-server/src/types.ts
  plugin-server/src/utils/db/db.ts
  plugin-server/src/utils/db/postgres.ts
  plugin-server/src/worker/ingestion/action-matcher.ts
  plugin-server/src/worker/ingestion/event-pipeline/runAsyncHandlersStep.ts
  plugin-server/tests/helpers/sql.ts
  plugin-server/tests/main/db.test.ts
  plugin-server/tests/main/ingestion-queues/run-async-handlers-event-pipeline.test.ts
  plugin-server/tests/main/ingestion-queues/run-ingestion-pipeline.test.ts
  plugin-server/tests/worker/ingestion/action-matcher.test.ts
  plugin-server/tests/worker/ingestion/event-pipeline/runAsyncHandlersStep.test.ts
  plugin-server/tests/worker/plugins-api-key-manager.test.ts
Labels: stale

#31368 fix: Plugin Server - Node Error
  plugin-server/src/server.ts
Labels: stale

#31628 feat: add web analytics preAggregated modifier
  frontend/src/lib/constants.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/settings/SettingsMap.tsx
  frontend/src/scenes/settings/environment/PreAggregatedTablesSetting.tsx
  frontend/src/scenes/settings/types.ts
  posthog/schema.py
Labels: team/web-analytics

#30049 refactor: Remove Temporal-based squash implementation, old person overrides related code
  mypy-baseline.txt
  posthog/clickhouse/test/test_person_overrides.py
  posthog/kafka_client/topics.py
  posthog/management/commands/sync_persons_to_clickhouse.py
  posthog/models/person/person.py
  posthog/models/person/sql.py
  posthog/models/person/util.py
  posthog/models/person_overrides/sql.py
  posthog/temporal/batch_exports/__init__.py
  posthog/temporal/batch_exports/squash_person_overrides.py
  posthog/temporal/tests/persons_on_events_squash/__init__.py
  posthog/temporal/tests/persons_on_events_squash/test_squash_person_overrides_workflow.py
Labels: stale

#31804 chore: add surveys custom ESLint rules
  .eslintrc.js
  common/eslint_rules/no-survey-string-constants.js
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/SurveySQLHelper.tsx
  frontend/src/scenes/surveys/SurveyStatsSummary.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyLogic.test.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.ts
  frontend/src/types.ts
Labels: feature/surveys

#31685 feat: make survey results' queries work with partial responses
  frontend/__snapshots__/scenes-app-pipeline--pipeline-node-edit-configuration-stateless-plugin--dark.png
  frontend/__snapshots__/scenes-app-pipeline--pipeline-node-edit-configuration-stateless-plugin--light.png
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/taxonomy/core-filter-definitions-by-group.json
  frontend/src/types.ts
  posthog/api/survey.py
  posthog/api/test/__snapshots__/test_survey.ambr
  posthog/api/test/test_survey.py
  posthog/hogql/functions/mapping.py
  posthog/hogql/printer.py
  posthog/hogql/test/test_printer.py
  posthog/models/surveys/util.py
  posthog/tasks/test/__snapshots__/test_usage_report.ambr
  posthog/tasks/usage_report.py
  posthog/taxonomy/taxonomy.py
  products/data_warehouse/backend/test/__snapshots__/test_hogql_fixer_ai.ambr
Labels: feature/surveys

#31974 chore: add banner for shuffle questions with partial responses
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--light.png
  frontend/src/scenes/surveys/SurveyCustomization.tsx
  frontend/src/scenes/surveys/SurveyRepeatSchedule.tsx
  frontend/src/scenes/surveys/SurveyResponsesCollection.tsx
  frontend/src/scenes/surveys/components/LinkToSurveyFormSection.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#32177 fix: exception on survey results for many concurrent questions
  frontend/__snapshots__/scenes-other-billing--billing--light.png
  frontend/src/scenes/surveys/surveyViewViz.tsx
Labels: feature/surveys

#32192 fix: beta tag to partial responses and optimize queries
  frontend/src/scenes/surveys/SurveyResponsesCollection.tsx
  frontend/src/scenes/surveys/SurveySQLHelper.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.ts
  frontend/src/types.ts
Labels: feature/surveys

#32204 fix: new partial responses filters for endpoints too
  frontend/src/scenes/surveys/CONTRIBUTING.md
  frontend/src/scenes/surveys/utils.ts
  posthog/api/survey.py
  posthog/api/test/__snapshots__/test_survey.ambr
  posthog/models/surveys/util.py
  posthog/tasks/test/__snapshots__/test_usage_report.ambr
  posthog/tasks/usage_report.py
Labels: feature/surveys

#31987 fix: previous period actors modal on bold number
  frontend/src/scenes/insights/views/BoldNumber/BoldNumber.tsx
Labels: stale

#32218 feat(mexicspo): add settings for report url
  frontend/__snapshots__/scenes-other-org-member-invites--current-user-is-admin--dark.png
  frontend/__snapshots__/scenes-other-org-member-invites--current-user-is-admin--light.png
  frontend/__snapshots__/scenes-other-org-member-invites--current-user-is-member--dark.png
  frontend/__snapshots__/scenes-other-org-member-invites--current-user-is-member--light.png
  frontend/__snapshots__/scenes-other-org-member-invites--current-user-is-owner--dark.png
  frontend/__snapshots__/scenes-other-org-member-invites--current-user-is-owner--light.png
  frontend/__snapshots__/scenes-other-settings--settings-organization--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-organization--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/__snapshots__/scenes-other-settings--settings-user--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-user--light.png
  frontend/__snapshots__/scenes-other-settings--settings-web-vitals--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-web-vitals--light.png
  frontend/src/lib/components/JSSnippet.tsx
  frontend/src/lib/constants.tsx
  frontend/src/scenes/settings/SettingsMap.tsx
  frontend/src/scenes/settings/environment/CSPReportingSettings.tsx
  frontend/src/scenes/settings/environment/proxyLogic.ts
  frontend/src/scenes/settings/types.ts
Labels: mexiscpo

#32149 fix: fix attribute error in proxy record error handling
  posthog/temporal/proxy_service/create.py
Labels: stale

#31781 feat(dwh): New config abstraction for source configuration
  posthog/temporal/data_imports/pipelines/source/config.py
  posthog/temporal/tests/data_imports/pipelines/source/test_config.py
Labels: stale

#32151 feat: use WebOverview pre-aggregated tables internally
  dags/definitions.py
  dags/web_preaggregated_internal.py
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  posthog/hogql/database/database.py
  posthog/hogql/database/schema/web_analytics_preaggregated.py
  posthog/hogql/functions/mapping.py
  posthog/hogql_queries/web_analytics/test/test_web_overview.py
  posthog/hogql_queries/web_analytics/web_overview.py
  posthog/hogql_queries/web_analytics/web_overview_pre_aggregated.py
  posthog/models/web_preaggregated/sql.py
  posthog/schema.py
  products/data_warehouse/backend/test/__snapshots__/test_hogql_fixer_ai.ambr
Labels: team/web-analytics

#31881 feat: counted playlists in digest
  posthog/tasks/periodic_digest/__init__.py
  posthog/tasks/periodic_digest/periodic_digest.py
  posthog/tasks/periodic_digest/playlist_digests.py
  posthog/tasks/periodic_digest/test/__init__.py
  posthog/tasks/periodic_digest/test/test_periodic_digest.py
  posthog/tasks/scheduled.py
Labels: stale

#32137 fix: last run at should indicate materialized view
  frontend/src/scenes/data-warehouse/editor/QueryWindow.tsx
Labels: stale

#32153 style: Tighten feature previews UI
  frontend/__snapshots__/layout-feature-previews--basic--dark.png
  frontend/__snapshots__/layout-feature-previews--basic--light.png
  frontend/__snapshots__/layout-feature-previews--empty--dark.png
  frontend/__snapshots__/layout-feature-previews--empty--light.png
  frontend/__snapshots__/layout-feature-previews--with-constrained-feature--dark.png
  frontend/__snapshots__/layout-feature-previews--with-constrained-feature--light.png
  frontend/__snapshots__/scenes-app-sidepanels--side-panel-feature-previews--dark.png
  frontend/__snapshots__/scenes-app-sidepanels--side-panel-feature-previews--light.png
  frontend/src/layout/FeaturePreviews/FeaturePreviews.tsx
Labels: stale

#31839 feat(revert-materialization-back-to-view): Mat View <--> View transitions
  frontend/src/lib/api.ts
  frontend/src/scenes/data-warehouse/editor/sidebar/QueryInfo.tsx
  frontend/src/scenes/data-warehouse/saved_queries/dataWarehouseViewsLogic.tsx
  posthog/warehouse/api/saved_query.py
  posthog/warehouse/api/test/test_saved_query.py
  posthog/warehouse/data_load/saved_query_service.py
Labels: enhancement

#31934 feat: edit insights tool
  ee/hogai/assistant.py
  ee/hogai/django_checkpoint/test/test_checkpointer.py
  ee/hogai/graph/root/nodes.py
  ee/hogai/test/test_assistant.py
  ee/hogai/tool.py
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-historical-trends-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-historical-trends-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-breakdown-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-breakdown-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-time-to-convert-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-time-to-convert-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-breakdown-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-breakdown-edit--light.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-top-to-bottom-edit--light.png
  frontend/__snapshots__/scenes-app-insights-retention--retention-edit--dark.png
  frontend/__snapshots__/scenes-app-insights-retention--retention-edit--light.png
  frontend/src/queries/nodes/InsightViz/EditorFilters.tsx
  frontend/src/queries/nodes/InsightViz/InsightViz.scss
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-assistant-messages.ts
  frontend/src/scenes/max/MaxTool.tsx
  frontend/src/scenes/max/Thread.tsx
  frontend/src/scenes/max/maxLogic.tsx
  posthog/schema.py
  products/product_analytics/__init__.py
  products/product_analytics/backend/max_tools.py
  pyproject.toml
  uv.lock
Labels: stale

#32371 fix: Filter different types of revenue analytics views
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  posthog/hogql/database/database.py
  posthog/schema.py
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_growth_rate_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_overview_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_top_customers_query_runner.ambr
  products/revenue_analytics/backend/views/revenue_analytics_charge_view.py
  products/revenue_analytics/frontend/revenueAnalyticsLogic.ts
Labels: team/revenue-analytics

#32370 chore: max width on survey preview, new optional fields
  frontend/__snapshots__/scenes-app-surveys--new-multi-question-survey-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-multi-question-survey-section--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-appearance-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-appearance-section--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-customisation-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-customisation-section--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-presentation-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-presentation-section--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-targeting-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-targeting-section--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-html-question-description--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-html-question-description--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-text-question-description-that-does-not-render-html--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-text-question-description-that-does-not-render-html--light.png
  frontend/__snapshots__/scenes-app-surveys--survey-templates--dark.png
  frontend/__snapshots__/scenes-app-surveys--survey-templates--light.png
  frontend/src/scenes/surveys/Survey.tsx
  frontend/src/scenes/surveys/SurveyAppearancePreview.tsx
  frontend/src/scenes/surveys/SurveyEdit.tsx
  frontend/src/scenes/surveys/SurveyFormAppearance.tsx
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyActivityDescriber.tsx
  frontend/src/types.ts
Labels: feature/surveys

#32358 feat: add date range filter to survey results
  frontend/src/scenes/surveys/SurveyResponseFilters.tsx
  frontend/src/scenes/surveys/SurveyStatsSummary.tsx
  frontend/src/scenes/surveys/SurveyView.scss
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#32448 fix(web-analytics): stats_table_preaggregated order by
  posthog/hogql_queries/web_analytics/stats_table_pre_aggregated.py
Labels: team/web-analytics

#32228 feat: allow answer question when clicking on the choice
  frontend/__snapshots__/scenes-app-surveys--new-multi-question-survey-section--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-multi-question-survey-section--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-html-question-description--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-html-question-description--light.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-text-question-description-that-does-not-render-html--dark.png
  frontend/__snapshots__/scenes-app-surveys--new-survey-with-text-question-description-that-does-not-render-html--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/src/scenes/surveys/SurveyEditQuestionRow.tsx
  frontend/src/scenes/surveys/SurveyFormAppearance.tsx
  frontend/src/types.ts
Labels: feature/surveys

#32478 chore: move survey feedback button
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-global-settings--light.png
  frontend/__snapshots__/scenes-app-surveys--surveys-list--dark.png
  frontend/__snapshots__/scenes-app-surveys--surveys-list--light.png
  frontend/src/scenes/surveys/SurveyView.tsx
  frontend/src/scenes/surveys/Surveys.tsx
Labels: feature/surveys

#32483 fix: always convert survey timestamp filters to UTC
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#32562 chore: mark components that used pre-aggregated tables
  frontend/src/queries/nodes/DataTable/DataTable.tsx
  frontend/src/queries/nodes/WebOverview/WebOverview.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  posthog/schema.py
Labels: team/web-analytics

#30807 feat(clickhouse): Add property_definitions table and dagster job
  dags/definitions.py
  dags/property_definitions.py
  dags/tests/test_property_definitions.py
  posthog/clickhouse/migrations/0120_property_definitions_table.py
  posthog/models/property_definition.py
  posthog/test/base.py
Labels: waiting

#32568 feat: Add revenue goals for Revenue Analytics
  .github/workflows/storybook-chromatic.yml
  frontend/__snapshots__/scenes-app-data-management--revenue-analytics-settings--dark.png
  frontend/__snapshots__/scenes-app-data-management--revenue-analytics-settings--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--light.png
  frontend/src/lib/api.mock.ts
  frontend/src/lib/lemon-ui/LemonTable/LemonTable.tsx
  frontend/src/lib/lemon-ui/LemonTable/TableRow.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/insights/views/LineGraph/LineGraph.tsx
  frontend/src/scenes/settings/environment/RevenueBaseCurrencySettings.tsx
  frontend/src/scenes/settings/organization/VerifiedDomains/__snapshots__/verifiedDomainsLogic.test.ts.snap
  posthog/api/team.py
  posthog/api/test/__snapshots__/test_decide.ambr
  posthog/migrations/0739_teamrevenueanalyticsconfig__goals.py
  posthog/migrations/max_migration.txt
  posthog/models/team/team_revenue_analytics_config.py
  posthog/schema.py
  products/revenue_analytics/frontend/RevenueAnalyticsScene.stories.tsx
  products/revenue_analytics/frontend/revenueAnalyticsLogic.ts
  products/revenue_analytics/frontend/settings/BaseCurrency.tsx
  products/revenue_analytics/frontend/settings/GoalsConfiguration.tsx
  products/revenue_analytics/frontend/settings/RevenueAnalyticsSettings.tsx
  products/revenue_analytics/frontend/settings/revenueAnalyticsSettingsLogic.ts
Labels: team/revenue-analytics

#32638 chore: memory-efficient aggregations for pre-aggregated tables
  dags/web_preaggregated_internal.py
Labels: team/web-analytics

#32677 feat: enable filters on pre-aggregated tables
  frontend/src/lib/components/TaxonomicFilter/taxonomicFilterLogic.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsFilters.tsx
  frontend/src/scenes/web-analytics/WebPropertyFilters.tsx
  posthog/hogql_queries/web_analytics/pre_aggregated/property_transformer.py
  posthog/hogql_queries/web_analytics/pre_aggregated/query_builder.py
  posthog/hogql_queries/web_analytics/stats_table_pre_aggregated.py
Labels: team/web-analytics

#32730 feat: getting survey answers in one query [part 1]
  frontend/src/layout/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/lib/constants.tsx
  frontend/src/scenes/surveys/SurveyNoResponsesBanner.tsx
  frontend/src/scenes/surveys/components/question-visualizations/OpenQuestionSummarizer.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/scenes/surveys/surveyViewViz.tsx
  frontend/src/scenes/surveys/utils.test.ts
  frontend/src/scenes/surveys/utils.ts
Labels: feature/surveys

#32724 feat: enable path cleaning on pre-aggregated tables
  frontend/src/scenes/web-analytics/WebAnalyticsFilters.tsx
  posthog/hogql_queries/web_analytics/pre_aggregated/query_builder.py
  posthog/hogql_queries/web_analytics/stats_table_pre_aggregated.py
  posthog/hogql_queries/web_analytics/web_overview_pre_aggregated.py
Labels: team/web-analytics

#31496 chore: Remove schema drift job
  posthog/tasks/__init__.py
  posthog/tasks/check_clickhouse_schema_drift.py
  posthog/tasks/scheduled.py
  posthog/tasks/tasks.py
  posthog/tasks/test/test_check_clickhouse_schema_drift.py
Labels: stale

#32865 fix: skeletons and spacing for new surveys' question viz
  frontend/src/scenes/surveys/SurveyStatsSummary.tsx
  frontend/src/scenes/surveys/components/StackedBar.tsx
  frontend/src/scenes/surveys/components/question-visualizations/RatingQuestionViz.tsx
  frontend/src/scenes/surveys/components/question-visualizations/SurveyQuestionVisualization.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#32926 chore: minor survey label changes
  frontend/src/scenes/surveys/SurveyRepeatSchedule.tsx
  frontend/src/scenes/surveys/SurveyResponsesCollection.tsx
  frontend/src/scenes/surveys/components/StackedBar.tsx
  frontend/src/scenes/surveys/components/question-visualizations/RatingQuestionViz.tsx
Labels: feature/surveys
