Repository PostHog/posthog, pull requests merged in 2025-09, with the labels that each got.

#37440 chore(max): refactored suggestions for MaxTool UI
  frontend/src/scenes/max/Max.stories.tsx
  frontend/src/scenes/max/maxLogic.test.ts
  frontend/src/scenes/max/maxLogic.tsx
  frontend/src/scenes/max/useMaxTool.ts
  frontend/src/scenes/max/utils.ts
Labels: feature/max-ai

#37577 chore(max): added timing decorator
  ee/hogai/graph/insights/nodes.py
  mypy-baseline.txt
Labels: feature/max-ai

#37587 chore(dashboard): add extra properties to dashboard events
  frontend/src/lib/components/AddToDashboard/addToDashboardModalLogic.ts
  frontend/src/lib/utils/eventUsageLogic.ts
  frontend/src/scenes/dashboard/dashboardLogic.tsx
  frontend/src/scenes/insights/insightLogic.tsx
  frontend/src/scenes/saved-insights/addSavedInsightsModalLogic.ts
Labels: team/analytics-platform

#37542 fix: sanitize hosted surveys
  frontend/src/scenes/surveys/utils.test.ts
  frontend/src/scenes/surveys/utils.ts
  posthog/api/survey.py
  posthog/api/test/test_survey.py
Labels: feature/surveys

#37745 chore(max): removing Max thinking whilst task are executing
  frontend/src/scenes/max/maxThreadLogic.tsx
Labels: feature/max-ai

#37810 chore(max): leaner onboarding flow
  ee/hogai/eval/ci/deep_research/__init__.py
  ee/hogai/eval/ci/deep_research/eval_deep_research_onboarding.py
  ee/hogai/graph/deep_research/onboarding/prompts.py
Labels: feature/max-ai, evals-ready

#37753 feat(llma): dataset scopes and docs
  frontend/src/lib/scopes.tsx
  frontend/src/types.ts
  posthog/api/__init__.py
  posthog/api/test/__snapshots__/test_api_docs.ambr
  products/llm_analytics/backend/api/datasets.py
  products/llm_analytics/backend/api/test/test_datasets.py
Labels: stale

#38310 chore(max): Deep Research streaming persistence + history fix
  ee/hogai/api/serializers.py
  ee/hogai/api/test/test_serializers.py
  ee/hogai/assistant/base.py
  ee/hogai/assistant/deep_research_assistant.py
  ee/hogai/graph/deep_research/base/nodes.py
  ee/hogai/test/test_assistant.py
Labels: feature/max-ai

#38439 feat(cohorts): cohort page filters
  frontend/__snapshots__/scenes-app-persons-groups--cohorts--dark.png
  frontend/__snapshots__/scenes-app-persons-groups--cohorts--light.png
  frontend/__snapshots__/scenes-app-persons-groups--groups--light.png
  frontend/__snapshots__/scenes-app-persons-groups--persons--light.png
  frontend/src/scenes/cohorts/Cohorts.tsx
  frontend/src/scenes/cohorts/cohortsSceneLogic.test.ts
  frontend/src/scenes/cohorts/cohortsSceneLogic.ts
  posthog/api/cohort.py
  posthog/api/test/test_cohort.py
Labels: feature/cohorts, team/feature-flags

#38567 fix: duplicate survey naming
  frontend/src/scenes/surveys/DuplicateToProjectModal.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#38557 feat(cohort): add email support for cohort CSV uploads
  frontend/__snapshots__/scenes-app-insights-funnels--funnel-left-to-right--light.png
  frontend/src/scenes/cohorts/CohortEdit.tsx
  posthog/api/cohort.py
  posthog/api/test/test_cohort.py
  posthog/models/cohort/cohort.py
  posthog/tasks/calculate_cohort.py
Labels: feature/cohorts, team/feature-flags
