Repository PostHog/posthog, pull requests merged in 2025-06, with the labels that each got.

#33018 feat: hourly pre-aggregated tables for current day's data
  dags/definitions.py
  dags/web_preaggregated_hourly.py
  dags/web_preaggregated_internal.py
  posthog/hogql/database/database.py
  posthog/hogql/database/schema/test/test_web_analytics_preaggregated.py
  posthog/hogql/database/schema/web_analytics_preaggregated.py
  posthog/models/web_preaggregated/sql.py
Labels: team/web-analytics

#33034 fix(web-analytics): hourly data recreating tables
  dags/definitions.py
  dags/web_preaggregated_hourly.py
Labels: team/web-analytics

#33012 fix: survey API preview
  frontend/src/scenes/surveys/SurveyFormAppearance.tsx
Labels: feature/surveys

#33042 chore: dont use loading toast for new question viz
  frontend/src/scenes/surveys/SurveyView.tsx
Labels: feature/surveys

#33013 fix: survey actions
  frontend/src/scenes/surveys/SurveyEdit.tsx
Labels: feature/surveys

#33038 fix: query more than the first 100 responses on surveys
  frontend/src/scenes/surveys/components/question-visualizations/SurveyQuestionVisualization.tsx
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#33248 fix: rating questions visualization for non NPS scale
  frontend/src/scenes/surveys/SurveyEditQuestionRow.tsx
  frontend/src/scenes/surveys/components/question-visualizations/SurveyQuestionVisualization.tsx
  frontend/src/scenes/surveys/constants.tsx
  frontend/src/scenes/surveys/surveyLogic.test.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
  frontend/src/types.ts
Labels: feature/surveys

#31215 feat(cdp): move reddit ads to node + convert to mappings
  plugin-server/src/cdp/templates/_destinations/reddit_ads/reddit.template.test.ts
  plugin-server/src/cdp/templates/_destinations/reddit_ads/reddit.template.ts
  plugin-server/src/cdp/templates/index.ts
  posthog/cdp/templates/__init__.py
  posthog/cdp/templates/reddit/template_reddit_conversions_api.py
  posthog/cdp/templates/reddit/test_template_reddit_conversions_api.py
Labels: waiting

#33263 feat(web-analytics): add base_currency settubg to Team level
  frontend/src/lib/api.mock.ts
  frontend/src/lib/utils/geography/currency.ts
  frontend/src/queries/nodes/WebOverview/WebOverview.tsx
  frontend/src/scenes/settings/organization/VerifiedDomains/__snapshots__/verifiedDomainsLogic.test.ts.snap
  frontend/src/scenes/settings/types.ts
  frontend/src/scenes/teamActivityDescriber.tsx
  frontend/src/scenes/teamLogic.tsx
  frontend/src/types.ts
  plugin-server/tests/helpers/sql.ts
  posthog/api/team.py
  posthog/api/test/__snapshots__/test_action.ambr
  posthog/api/test/__snapshots__/test_annotation.ambr
  posthog/api/test/__snapshots__/test_decide.ambr
  posthog/api/test/__snapshots__/test_element.ambr
  posthog/api/test/__snapshots__/test_feature_flag.ambr
  posthog/api/test/__snapshots__/test_insight.ambr
  posthog/api/test/__snapshots__/test_organization_feature_flag.ambr
  posthog/api/test/__snapshots__/test_preflight.ambr
  posthog/api/test/__snapshots__/test_survey.ambr
  posthog/api/test/dashboards/__snapshots__/test_dashboard.ambr
  posthog/api/test/notebooks/__snapshots__/test_notebook.ambr
  posthog/api/test/test_team.py
  posthog/migrations/0762_team_base_currency.py
  posthog/migrations/max_migration.txt
  posthog/models/filters/test/__snapshots__/test_filter.ambr
  posthog/models/team/team.py
  posthog/models/team/team_revenue_analytics_config.py
  posthog/session_recordings/test/__snapshots__/test_session_recording_playlist.ambr
  posthog/session_recordings/test/__snapshots__/test_session_recordings.ambr
  posthog/tasks/test/__snapshots__/test_process_scheduled_changes.ambr
  posthog/test/__snapshots__/test_feature_flag.ambr
  products/early_access_features/backend/test/__snapshots__/test_early_access_feature.ambr
  rust/feature-flags/src/utils/test_utils.rs
  rust/links/src/utils/test_utils.rs
Labels: no-depot-docker-cache

#33342 chore(web-analytics): move query engine toggle to page header
  frontend/src/scenes/web-analytics/WebAnalyticsHeaderButtons.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsMenu.tsx
  frontend/src/scenes/web-analytics/WebAnalyticsScene.tsx
Labels: team/web-analytics

#33485 fix: filters background on the new session replay UI
  frontend/src/scenes/session-recordings/playlist/Playlist.tsx
Labels: feature/replay

#33486 feat: Filter Rev Analytics by source using generic filter
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/taxonomy/core-filter-definitions-by-group.json
  posthog/hogql/property.py
  posthog/schema.py
  posthog/taxonomy/taxonomy.py
  products/revenue_analytics/backend/api.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_top_customers_query_runner.py
  products/revenue_analytics/backend/hogql_queries/revenue_example_events_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_growth_rate_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_insights_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_overview_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_top_customers_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_example_events_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_growth_rate_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_insights_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_overview_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/test_revenue_analytics_top_customers_query_runner.py
  products/revenue_analytics/backend/utils.py
  products/revenue_analytics/backend/views/revenue_analytics_charge_view.py
  products/revenue_analytics/backend/views/revenue_analytics_invoice_item_view.py
  products/revenue_analytics/frontend/RevenueAnalyticsFilters.tsx
  products/revenue_analytics/frontend/revenueAnalyticsLogic.ts
Labels: team/revenue-analytics, feature/revenue-analytics

#32783 fix: refactor question branching
  frontend/src/scenes/surveys/QuestionBranchingInput.tsx
  frontend/src/scenes/surveys/SurveyEditQuestionRow.tsx
  frontend/src/scenes/surveys/components/question-branching/QuestionBranchingInput.tsx
  frontend/src/scenes/surveys/components/question-branching/utils.test.ts
  frontend/src/scenes/surveys/components/question-branching/utils.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#33613 feat(web-analytics): split exported data by team id
  dags/definitions.py
  dags/web_preaggregated_daily.py
Labels: team/web-analytics

#33627 fix: survey export for lots of responses
  frontend/src/queries/nodes/DataTable/DataTableExport.tsx
  frontend/src/queries/nodes/DataTable/exportTransformers.ts
  frontend/src/scenes/surveys/surveyLogic.tsx
Labels: feature/surveys

#33771 feat: Support `coupon`s for Revenue Analytics
  .github/actions/python-code-quality/action.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-dagster.yml
  .github/workflows/ci-python.yml
  frontend/__snapshots__/scenes-other-settings--settings-organization--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-organization--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project--light.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-project-with-replay-features--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-all-options--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-password-only--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-github--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-google--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-enforced-saml--light.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-session-timeout-sso-only--light.png
  frontend/__snapshots__/scenes-other-settings--settings-user--dark.png
  frontend/__snapshots__/scenes-other-settings--settings-user--light.png
  frontend/src/lib/lemon-ui/LemonInputSelect/LemonInputSelect.tsx
  frontend/src/lib/lemon-ui/Tooltip/Tooltip.tsx
  frontend/src/queries/schema.json
  frontend/src/queries/schema/schema-general.ts
  frontend/src/scenes/settings/SettingsScene.stories.tsx
  frontend/src/taxonomy/core-filter-definitions-by-group.json
  posthog/hogql/property.py
  posthog/schema.py
  posthog/taxonomy/taxonomy.py
  products/revenue_analytics/backend/api.py
  products/revenue_analytics/backend/hogql_queries/revenue_analytics_insights_query_runner.py
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_growth_rate_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_insights_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_overview_query_runner.ambr
  products/revenue_analytics/backend/hogql_queries/test/__snapshots__/test_revenue_analytics_top_customers_query_runner.ambr
  products/revenue_analytics/backend/views/revenue_analytics_customer_view.py
  products/revenue_analytics/backend/views/revenue_analytics_invoice_item_view.py
  products/revenue_analytics/frontend/RevenueAnalyticsFilters.tsx
  products/revenue_analytics/guides/new_option_for_filters_and_group_by.md
Labels: team/revenue-analytics, feature/revenue-analytics

#32502 feat: Hide person column in person events/exceptions queries
  frontend/__snapshots__/scenes-app-events--event-explorer--dark.png
  frontend/__snapshots__/scenes-app-events--event-explorer--light.png
  frontend/__snapshots__/scenes-app-settings--settings-environment-details--light.png
  frontend/src/lib/constants.tsx
  frontend/src/queries/nodes/DataTable/utils.ts
  frontend/src/scenes/persons-management/PersonsManagementScene.stories.tsx
  frontend/src/scenes/persons/PersonScene.tsx
Labels: stale

#33663 chore: cleanup last references to Sentry
  .cursor/rules/django-python.mdc
  frontend/src/scenes/onboarding/sdks/error-tracking/angular.tsx
  posthog/api/decide.py
  posthog/api/test/test_decide.py
  posthog/utils.py
Labels: stale

#33994 chore: add field to Surveys to allow external responses
  frontend/src/types.ts
  posthog/api/test/__snapshots__/test_decide.ambr
  posthog/api/test/__snapshots__/test_organization_feature_flag.ambr
  posthog/api/test/__snapshots__/test_survey.ambr
  posthog/migrations/0775_survey_is_publicly_shareable.py
  posthog/migrations/max_migration.txt
  posthog/models/surveys/survey.py
  posthog/tasks/test/__snapshots__/test_process_scheduled_changes.ambr
Labels: feature/surveys

#34175 chore(tests): Add snapshots to new tests for trends data warehouse
  posthog/hogql_queries/insights/trends/test/__snapshots__/test_trends_data_warehouse_query.ambr
  posthog/hogql_queries/insights/trends/test/test_trends_data_warehouse_query.py
Labels: team/product-analytics

#32503 feat(cdp): Default to kafka for local
  plugin-server/src/config/config.ts
Labels: stale
